// .pricingBackground {
//     background-image: url("../../assets/images/pricingBackground.jpg");
//     background-position: left;
//     background-repeat: no-repeat;
//     background-size: auto;
//     height: 160vh;
//   }


//   .title {
//     color: darkred;
//     text-align: left;
//     padding-left: 40px;
//     padding-bottom: 20px;
//     padding-top: 50px;
//     font-size: xx-large;
//     font-weight: 900;
//   }


//   .radio-style{
//     color: darkred;
//     padding-left: 100px;
//     font-size: large;
//     font-weight: bold;
//   }