/* Create experience page */
.create-experience {
  color: #000;
  padding: 128px 25% 48px;
  word-break: break-word;
}

/* Create experience capacity and start date and time */
.create-experience-capacity,
.create-experience-start-date,
.create-experience-start-time {
  padding: 0px 8px 0px 0px !important;
}

/* Create experience date and time input hover */
.create-experience-end-date-input:hover,
.create-experience-end-time-input:hover,
.create-experience-start-date-input:hover,
.create-experience-start-time-input:hover {
  cursor: pointer;
}

/* Create experience dress code, end date and time, and style */
.create-experience-dress-code,
.create-experience-end-date,
.create-experience-end-time {
  padding: 0px 0px 0px 8px !important;
}

/* Create experience title */
.create-experience-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .create-experience {
    padding: 128px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .create-experience {
    padding: 128px 16px 48px;
  }

  .create-experience-capacity,
  .create-experience-dress-code,
  .create-experience-end-date,
  .create-experience-end-time,
  .create-experience-start-date,
  .create-experience-start-time {
    padding: 0px !important;
  }
}
