// .UserPreferences{
//     background-color: red;
//     font-size: large;  
// }

// /* Login content */
// .preferences-content {
//     color: #000;
//     padding: 96px 24px 24px;
//   }

// .checkbox-preference {
//     padding: 10px 10px 10px 10px;
//     float: left;
//     min-width: 200px;
// }

// .checkbox-text {
//     padding: 10px 10px 10px 10px;
//     width: 70px;
// }