.col-xl-4.col-md-6.food-sample {
  padding: 0 0 !important;
  margin: 1.5em 0;
}

.main-user-item-card {
  -webkit-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  -moz-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  margin: 0.5em;
  padding: 0;
  width: 120%;
  // height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #88171a;
  color: #fff;
  transition: all 450ms;
  &:hover {
    transform: scale(1.03);
    transition: all 450ms;
  }

  .fas {
    width: 20px;
  }

  .edit-archive {
    padding: 0.5em 0.5em;
    margin: 0 auto;
    // width: 60%;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    font-weight: 600;
    a {
      color: #000;
      &:hover {
        color: #fff;
        transition: all 300ms;
      }
    }

    .edit-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .archive-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;

      button.archive-btn {
        background: none;
        border: none;
        color: #000;
        font-weight: 600;
        transition: all 300ms;
        &:hover {
          transition: all 300ms;
          color: #fff;
        }
      }

      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .vend-button {
      cursor: pointer;
      border-radius: 20px;
      padding: 0 1em;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
  }

  .Quantity-selection {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .user-item-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #88171a;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 1em;
    transition: all 300ms;
    a {
      color: #fff;
    }
    // &:hover {
    //   opacity: 0.5;
    //   transition: all 300ms;
    // }
    .fas {
      margin-right: 0.5em;
    }

    .user-item-footer-title {
      font-size: 1.3em;
      line-height: 1;
      width: 30%;
      word-break: break-word;
    }

    .user-item-footer-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 70%;
    }

    button {
      &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: all 450ms;
      }
    }

    .quantity-button {
      background-color: #fff;
      color: #000;
      border: none;
      border-radius: 26px;
      padding: 0.5em 1em;
    }

    .add-to-cart-button {
      color: #fff;
      margin-left: 0.5em;
      font-weight: 600;
      background-color: #000;
      border: none;
      border-radius: 26px;
      padding: 0.5em 1em;
    }

    .add-to-festivals-button {
      color: #fff;
      margin-left: 0.5em;
      font-weight: 600;
      background-color: #88171a;
      border: none;
      border-radius: 26px;
      padding: 0.5em 1em;
    }
  }

  .food-sample-card-photo {
    cursor: pointer;
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    // &::after {
    //   overflow: hidden;
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: rgb(136, 23, 26);
    //   background: linear-gradient(
    //     0deg,
    //     rgba(136, 23, 26, 1) 24%,
    //     rgba(136, 23, 26, 0.2) 82%,
    //     rgba(0, 0, 0, 0) 100%
    //   );
    // }

    img {
      border-radius: 20px;
    }

    .days-remaining {
      top: 0px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }

    .item-host-name {
      top: 0px;
      left: 10px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #88171a;
      border-radius: 20px;
      padding: 0.5em 1em;
      z-index: 1;
      color: #fff;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }
  }
}

.main-food-sample-card {
  -webkit-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  -moz-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  margin: 0.5em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #88171a;
  color: #fff;
  transition: all 450ms;
  &:hover {
    transform: scale(1.03);
    transition: all 450ms;
  }

  .fas {
    width: 20px;
  }

  .main-food-sample-info {
    z-index: 1;
    margin-top: -100px;
    padding: 1em;
    // .food-sample-location {
    // }
    // .food-sample-date {
    // }
    // .food-sample-time {
    // }
    .food-sample-name {
      line-height: 1;
      font-size: 2.3em;
      font-weight: 600;
    }
    .food-sample-price {
      .price-stronger {
        font-size: 1.5em;
      }
    }
    .food-sample-info {
      font-weight: 600;
      display: flex;
      flex-direction: row;
      margin: 5px 0;
      justify-content: space-between;
      .fas {
        margin-right: 5px;
      }
    }
    .food-sample-description {
      margin-top: 1em;
      p {
        color: rgb(223, 223, 223);
        line-height: 1.2;
      }
    }
  }

  .edit-archive {
    padding: 0.5em 0.5em;
    margin: 0 auto;
    // width: 60%;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    font-weight: 600;
    a {
      color: #000;
      &:hover {
        color: #fff;
        transition: all 300ms;
      }
    }

    .edit-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .archive-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;

      button.archive-btn {
        background: none;
        border: none;
        color: #000;
        font-weight: 600;
        transition: all 300ms;
        &:hover {
          transition: all 300ms;
          color: #fff;
        }
      }

      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .vend-button {
      cursor: pointer;
      border-radius: 20px;
      padding: 0 1em;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
  }

  .view-details-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 0.5em;
    transition: all 300ms;
    a {
      color: #fff;
    }
    &:hover {
      opacity: 0.5;
      transition: all 300ms;
    }
    .fas {
      margin-right: 0.5em;
    }
  }

  .food-sample-card-photo {
    width: 100%;
    height: 250px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    &::after {
      overflow: hidden;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(136, 23, 26);
      background: linear-gradient(
        0deg,
        rgba(136, 23, 26, 1) 24%,
        rgba(136, 23, 26, 0.2) 82%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    img {
      border-radius: 20px;
    }

    .days-remaining {
      top: 0px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }

    .days-remaining1 {
      top: 20px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }

    .item-host-name {
      top: 0px;
      left: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }
  }
}

.edit-archive-festival-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 0.5em 1em;
    font-weight: 600;
    border: none;
    border-radius: 26px;
    font-size: 1em;
    margin: 0 0.2em;
  }
}

.col-lg-6  {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

// below 480px
@media screen and (max-width: 480px) {
}

/* Responsive design at max width 991px */
@media screen and (min-width: 1000px) {
  // .col-lg-6  {
  //   flex: 0 0 60%;
  //   max-width: 70%;
  // }
}