#ExperienceTypeSearch {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 16px;

  button {
    background-color: #fff;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: 200;
    margin: 8px;
    margin-top: 0.5rem;
    min-width: 155px;
    padding: 8px;
    width: fit-content;
  }
}
