/* Create food sample page */
.create-food-sample {
  color: #000;
  word-break: break-word;
  padding: 100px 200px 100px 200px;
}

/* Create food sample end date and time */
.create-food-sample-end-date,
.create-food-sample-end-time {
  padding: 0px 0px 0px 8px !important;
}

/* Create food sample start date and time */
.create-food-sample-start-date,
.create-food-sample-start-time {
  padding: 0px 8px 0px 0px !important;
}

/* Create food sample title */
.create-food-sample-title {
  display: flex;
  justify-content: center;
}

.festival-card-festival-attend-btn {
  margin-right: 1rem;
  width: 100%;
  background-color: #c04c2a;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .create-food-sample {
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .create-food-sample {
  }

  .create-food-sample-end-date,
  .create-food-sample-end-time,
  .create-food-sample-start-date,
  .create-food-sample-start-time {
    padding: 0px !important;
  }
}
