.category-form-row {
  margin-top: 2em;
}

.tab-row.nested {
  margin: 1em 0 !important;
}

.tab-row.create-sample-sale-donation-tabs {
  margin: 1.5em 0 !important;
}

.col.start-end-time-inputs {
  .form-control {
    width: 97%;
    margin-right: 0.5em;
  }

  .mb-3 {
    .input-title {
      margin: 0 !important;
    }
    margin: 0 !important;
    input {
      width: 98% !important;
    }
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .form-control {
    margin-right: 0.5em;
  }
}

.col.image-upload {
  .mb-3 {
    margin: 1em 0 !important;
  }
}

.col.radio-product-type {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.create-another-button {
  margin-right: 1em;
}

.service-switcher {
  display: flex;
  flex-direction: row;
  border-radius: 26px;
  transition: all 200ms;
}