@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.passport__main {
  padding: 2em 0;

  .passport__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // position: relative;
    height: 100%;
    border-radius: 26px;
    padding: 0;
    // box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    //   0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    //   0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  }

  .passport-unique-string-gen {
    font-family: 'Roboto Mono', monospace !important;
    margin-top: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: justify !important;
    font-size: 1.4vw;
  }

  .passport-unique-string-gen:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}

.passport-titles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
}

.passport-line-heading {
  line-height: 0;
  text-align: center;
}
.passport-line-heading span {
  display: inline-block;
  position: relative;
}
.passport-line-heading span:before,
.passport-line-heading span:after {
  content: '';
  position: absolute;
  border: 1px solid #000;
  top: 0;
  width: 6em;
}
.passport-line-heading span:before {
  right: 100%;
  margin-right: 15px;
}
.passport-line-heading span:after {
  left: 100%;
  margin-left: 15px;
}

.passport-qrcode {
  display: flex;
  justify-content: flex-end;

  .passport-qrcode-comp {
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      transition: all 450ms;
    }
  }
}

.profile-button-primary {
  padding: 1.2em;
  background-color: #88171a;
  border-radius: 40px;
  border: none;
  color: #fff;
  transition: all 450ms;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }
}

.view-ticket-button {
  width: 100%;
  padding: 0.2em 2em;
}

.profile-button-secondary {
  padding: 1em;
  background-color: #fff;
  border-radius: 40px;
  border: 2px solid #88171a;
  color: #88171a;
  transition: all 450ms;
  font-weight: 600;
  &:hover {
    background-color: #88171a;
    color: #fff;
    transition: all 450ms;
  }
}

input.form-control {
  border-radius: 10px;
  padding: 1em;
  margin: 1em 0;
  &:hover,
  &:focus {
    border-color: #88171a;
  }
}

.invalid-input {
  border: 2px red solid;
}

span.success-submit {
  font-weight: 600;
  color: green;
  display: flex;
  justify-content: center;
}

span.invalid-submit-info {
  font-weight: 600;
  color: red;
  display: flex;
  justify-content: center;
}

section.passport-sections.peronal-passport {
  padding: 0;
}

.passport-sections {
  width: 100%;
  // padding: 50px 0;
  // margin-bottom: 32px;
}

.passport-header {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  .container.passport-header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 32px;

    .passport-profile-left {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .passport-name {
        font-size: 1.5em;
      }
      .passport-roles {
        text-transform: capitalize;
        color: #707070;
      }
    }

    .passport-credits-right {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    span.credits {
      margin-right: 0.3em;
      background-color: #88171a;
      color: #fff;
      padding: 1em;
      border-radius: 26px;
    }

    i.add-credits {
      color: #fff;
      background-color: #88171a;
      padding: 1em;
      border-radius: 50%;
      transition: all 450ms;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: all 450ms;
      }
    }

    .passport-profile-pic {
      margin-right: 2em;
      padding-right: 10px;
      border-radius: 30px 30px;
    }

    .passport-display-name-roles {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.passport-tab-switcher {
  padding: 0;
  margin-bottom: 0;
}

.passport-page-switcher {
  margin-top: 5em !important;
  .tab-switcher {
    width: 50% !important;
  }
}

.tab-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tab-switcher.personal-switcher {
  width: 50% !important;
}

.tab-switcher {
  display: flex;
  flex-direction: row;
  width: 80% !important;
  background-color: #eee;
  border-radius: 26px;

  button.tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    transition: all 200ms;
    &:hover {
      background-color: #ccc;
      color: #000;
      transition: all 250ms;
    }
  }

  button.active-tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    transition: all 200ms;
    &:hover {
      background-color: #88171a;
      color: #fff;
      font-weight: 600;
      transition: all 250ms;
    }
  }
}

.row.edit-passport-buttons-ui {
  margin-top: 9em !important;

  .fas {
    font-size: 1.8em;
    height: 100%;
    color: #88171a;
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      color: #000;
      transition: all 450ms;
    }
  }
}

.tab-switcher.edit-passport-switcher {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  background-color: #eee;
  border-radius: 26px;
  margin: 0 !important;

  button.tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    transition: all 200ms;
    &:hover {
      background-color: #ccc;
      color: #000;
      transition: all 250ms;
    }
  }

  button.active-tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    transition: all 200ms;
    &:hover {
      background-color: #88171a;
      color: #fff;
      font-weight: 600;
      transition: all 250ms;
    }
  }

  // below 480px
  @media screen and (max-width: 480px) {
    .tab-switcher {
      margin-bottom: 2em;
      width: 100%;
    }
  }

  // below 780px
  @media screen and (max-width: 780px) {
    .tab-switcher {
      margin-bottom: 2em;
      width: 100%;
    }
  }

  .active {
    background-color: #88171a !important;
    &:hover {
      opacity: 0.8;
      color: #fff !important;
    }
  }
}

/* Complete profile sub-title */
.complete-profile-sub-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* Default profile photo */
.default-profile-photo {
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #88171a;
  height: 200px;
  padding: 44px;
  width: 200px;
}

/* Do you have a restaurant */
.do-you-have-a-restaurant-no {
  padding: 0px 0px 0px 16px !important;
}

.do-you-have-a-restaurant-no-btn {
  border: 4px solid #000;
  margin-bottom: 16px;
  padding: 8px 12px;

  &:hover {
    cursor: pointer;
  }
}

.do-you-have-a-restaurant-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.do-you-have-a-restaurant-yes {
  padding: 0px 16px 0px 0px !important;
}

.do-you-have-a-restaurant-yes-btn {
  background-color: #000;
  color: #fff;
  margin-bottom: 16px;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

/* User profile edit, activities and story title */
.edit-profile,
.my-activities,
.my-story {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

/* Profile page */
.profile {
  padding: 128px 80px 64px;
  word-break: break-word;
}

/* Profile activities empty and history, body empty and story,
 edit available and empty, and header information and picture */
.profile-activities-col,
.profile-body-empty,
.profile-body-story,
.profile-edit-col,
.profile-header-information,
.profile-header-picture {
  padding: 0px !important;
}

/* Profile activities, body and header */
.profile-activities-row,
.profile-body,
.profile-header {
  padding-bottom: 32px;
}

/* Profile bio Facebook, Instagram, LinkedIn, location, phone, Twitter, website and YouTube */
.profile-bio,
.profile-facebook,
.profile-instagram,
.profile-linkedin,
.profile-location,
.profile-phone,
.profile-twitter,
.profile-website,
.profile-youtube {
  padding-top: 8px;
  text-align: left;
}

/* Modals */
.profile-location-modal,
.profile-you-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
}

/* Profile Facebook, phone, and Twitter icon */
.profile-facebook-icon,
.profile-phone-icon,
.profile-twitter-icon {
  padding-right: 18px;
}

/* Profile header information */
.profile-header-information {
  overflow: auto;
}

/* Profile LinkedIn and Instagram icons */
.profile-instagram-icon,
.profile-linkedin-icon {
  padding-right: 20px;
}

/* Profile item */
.profile-item {
  color: #00acee;
  padding: 8px 0px 0px !important;
  text-align: left;
}

/* Profile item link hover */
.profile-item-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Profile location icon */
.profile-location-icon {
  padding-right: 22px;
}

/* Profile name */
.profile-name {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

/* Profile photo section */
.profile-photo-section {
  justify-content: center;
}

/* Profile picture */
.profile-picture {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* Profile verification section */
.profile-verification-section {
  text-align: center;
}

/* Profile website icon */
.profile-website-icon {
  padding-right: 18.5px;
}

/* Profile YouTube icon */
.profile-youtube-icon {
  padding-right: 16px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .profile {
    padding: 128px 16px 64px;
  }

  .profile-location-modal,
  .profile-you-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .do-you-have-a-restaurant-no,
  .do-you-have-a-restaurant-yes {
    padding: 0px !important;
  }

  .profile-location-modal,
  .profile-you-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }

  .profile-name {
    padding-top: 32px;
  }

  .profile-photo-section {
    justify-content: left;
  }

  .profile-picture {
    float: left;
  }

  .profile-verification-section {
    text-align: left;
  }
}

// passport short view modal

.passport-short-view-modal {
  background-color: #fff;
  color: #000;
  left: 50%;
  top: 15%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  transform: translate(-50%);
  width: 350px;
  border-radius: 26px;
  word-break: break-word;
  z-index: 8;
  transition: all 450ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pass-short__heading {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #88171a;

    .head-left-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }

    .head-right-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 25%;
    }

    .fas {
      &:hover {
        cursor: pointer;
        color: #000;
        transition: all 450ms;
      }
    }
  }

  .pass-short__logo {
    width: 25%;
  }

  .pass-short__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pass-short__title {
      font-size: 2em;
      font-weight: 600;
    }
  }

  .pass-short__qrcode {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
  }
}

.business-passport-short-view-modal {
  background-color: #88171a;
  color: #fff;
  left: 50%;
  top: 15%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  transform: translate(-50%);
  width: 350px;
  border-radius: 26px;
  word-break: break-word;
  z-index: 8;
  transition: all 450ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pass-short__heading {
    width: 100%;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .head-left-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;
    }

    .head-right-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 25%;
    }

    .fas {
      &:hover {
        cursor: pointer;
        color: #000;
        transition: all 450ms;
      }
    }
  }

  .pass-short__logo {
    width: 25%;
  }

  .pass-short__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pass-short__title {
      font-size: 2em;
      font-weight: 600;
    }

    .business_name {
      font-size: 1.5em;
    }
  }

  .pass-short__qrcode {
    margin: 1em 0;
    padding: 1em;
    background-color: #fff;
  }
}

//
