.passport-side-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passport__profile-pic {
  padding: 0;
  width: 100%;
  img {
    border-radius: 26px 26px 0 0;
  }
}

.passport__user-role {
  margin: 0.5em 0;
  font-size: 1.5em;
  font-weight: 600;
}

.passport__user-info {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  font-size: 1em;
  .fas {
    margin-right: 1em;
    width: 20px !important;
  }
}

.passport__edit-button {
  margin: 1em;
  padding: 0.5em 1em;
  background-color: #88171a;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 26px;
  font-size: 1.2em;
  transition: all 450ms;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }

  .fas {
    margin-left: 0.5em;
  }
}
