.dashboard {
  padding: 0 !important;
}

.dashboard-host-container {
  margin: 0;
}

.dashboard-tab-switcher {
  padding: 0;
  margin-bottom: 50px;
}

.add-product-service-button {
  border-radius: 26px;
  i {
    color: #88171a;
    padding: 0 1em;
  }
}

.col.add-remove-action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  button {
    border: none;
    margin-left: 1em;
    border-radius: 16px;
    padding: 0.5em 0.5em;
    font-weight: 600;
  }

  .sponsor-active-button {
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
  }

  .sponsor-button {
    background-color: #eee;
    color: #000;
    font-weight: 400;
    &:hover {
      transition: all 450ms;
      background-color: #ccc;
    }
  }

  .add-action-button {
    background-color: black;
    color: #fff;
    font-size: small;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }

  .remove-action-button {
    background-color: #88171a;
    color: #fff;
    font-size: small;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }
}

.sticky-dash-nav {
  position: relative;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 26px;
  margin-right: 1em;
  padding: 0.5em 0;
  button {
    padding: 0.6em 1em;
    margin: 0.5em 0;
    background: none;
    border: none;
    border-radius: 26px;
    &:hover {
      background-color: rgb(184, 184, 184);
      transition: all 300ms;
    }
    &:active {
      background-color: #88171a;
      color: #fff;
      transition: all 300ms;
    }
  }
  .button-current-form {
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    transition: all 300ms;
    &:hover {
      opacity: 0.8;
      transition: all 300ms;
      background-color: #88171a;
      color: #fff;
    }
  }
}

.dashboard-tabs {
  margin: 5px;
  background-color: black;
  color: white;
  padding: 5px;
  height: 35px;
}

.dashboard-logo-image {
  width: 160px;
}

.dashboard-logo-container {
  border-right: 7px solid maroon;
  margin-left: 10px;
  padding: 10px;
}

.dashboard-business {
  display: flex;
  align-items: center;
  color: maroon;
  font-size: 30px;
}

.go-to-tasttlig {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.go-to-tasttlig-iamge {
  padding: 15px;
}

.modal-button-dashboard {
  display: flex;
  align-items: center;
}

.dashboard-new-tabs {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.home-tab {
  display: flex;
  align-items: center;
}

.tab-icons {
  height: 25px;
  margin-right: 10px;
}

.home-tab-title {
  border-bottom: 6px solid maroon;
  font-size: 40px;
}

.home-tab-subtitle {
  font-size: 30px;
  padding-top: 20px;
  margin-left: 10px;
}

.input-checkbox-table {
  width: 30px;
  height: 30px;
}

.redemptions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  #search-input {
    padding: 0.6em 1em;
    border-radius: 26px;
    outline: none;
    transition: all 250ms;
    &:focus {
      border: 2px solid #88171a;
      transition: all 250ms;
    }
  }
  .search-icon-redemptions {
    position: absolute;
    margin-left: -40px;
    top: 15px;
  }
}

.add-to-festivals-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

// Reviews Tab

.reviews__container {
  border-radius: 26px;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 450ms;
  &:hover {
    transform: scale(1.02);
    transition: all 450ms;
  }
}

.reviews__card {
  background-color: #fff;
  border-radius: 26px 26px 0 0 !important;
  padding: 1em;
  margin: 1em 0;

  .reviews__image-container {
    padding: 0 !important;

    .reviews__product-img {
      border-radius: 26px;
    }
  }

  .reviews__main-info {
    .reviews__name-and-rating {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .reviews__product-name {
        font-size: 1.5em;
        font-weight: 600;
      }
      .reviews__product-rating {
        margin-left: 1em;
        color: #88171a;
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .reviews__rating-quantity {
          margin-left: 0.5em;
          font-weight: 600;
        }
      }
    }
    .reviews__restaurant-name {
      font-size: 0.9em;
      font-weight: 400;
      color: #88171a;

      .fas {
        margin-right: 0.5em;
      }
    }

    .reviews__restaurant-scores {
      margin: 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .reviews__category {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.1em;
        font-weight: 600;
        color: #88171a;
      }
      .reviews__category-rating {
        font-size: 1em;
        font-weight: 400;
        color: #000;
      }
    }
  }
}

.row.reviews__final-score-container {
  background-color: #88171a;
  color: #fff;
  border-radius: 0 0 26px 26px;
  padding: 1em;
  margin-bottom: 1em;

  .reviews__final-score {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;

    .reviews__category-rating {
      margin-left: 1em;
      font-size: 1em;
      font-weight: 400;
    }
  }

  .reviews__final-submission {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      padding: 0.5em 1em;
      font-weight: 600;
      background-color: #fff;
      border-radius: 26px;
      border: none;
      color: #000;
      transition: all 450ms;
      &:hover {
        background-color: #ccc;
        color: #88171a;
        transition: all 450ms;
      }
    }
  }
}

.row.reviews__additional {
  padding: 0 1em 1em 1em;
  .reviews__additional-info-input {
    input {
      width: 100%;
      border: none;
      padding: 0.2em 0.2em 0.5em 0.2em;
      border-bottom: rgba(136, 23, 27, 0.357) 2px solid;
      transition: all 450ms;
      &:hover {
        border-color: #88171a;
        cursor: pointer;
        transition: all 450ms;
      }
      &:focus {
        border-color: #88171a;
        outline: none;
        transition: all 450ms;
      }
    }
  }
}

//
