/* Restaurants */
.restaurants {
  background-color: #f6f4f7;
  padding: 120px 15%;
  text-align: center;
}

/* Restaurants steps */
.restaurants-steps {
  font-size: 24px;
}

/* Restaurants timeline container */
.restaurants-timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.restaurants-timeline-container::after {
  background-color: #00acee;
  content: "";
  height: 100%;
  left: calc(50% - 2px);
  margin-top: 52px;
  position: absolute;
  width: 4px;
}

/* Restaurants timeline item */
.restaurants-timeline-item {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0px;
  padding-right: 30px;
  width: 50%;
}

.restaurants-timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0px;
}

/* Restaurants timeline item content */
.restaurants-timeline-item-content {
  align-items: flex-end;
  background-color: #000;
  box-shadow: 5px 5px 10px #ccc;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: relative;
  text-align: right;
  width: 100%;
}

.restaurants-timeline-item:nth-child(odd) .restaurants-timeline-item-content {
  align-items: flex-start;
  text-align: left;
}

/* Restaurants timeline item content circle */
.restaurants-timeline-item-content .circle {
  background-color: #00acee;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  right: -40px;
  top: calc(0% + 24px);
  width: 20px;
}

.restaurants-timeline-item:nth-child(odd)
  .restaurants-timeline-item-content
  .circle {
  left: -40px;
  right: auto;
}

/* Restaurants timeline item content (address) */
.restaurants-timeline-item-content-address {
  padding-top: 8px;
}

/* Restaurants timeline item content (food items) */
.restaurants-timeline-item-content-food-items {
  text-transform: uppercase;
}

/* Restaurants timeline item content (image) */
.restaurants-timeline-item-content-image {
  height: auto;
  margin-bottom: 8px;
  width: 100%;
}

/* Restaurants timeline item content (restaurant)  */
.restaurants-timeline-item-content-restaurant {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Restaurants timeline item content (restaurant underline) */
.restaurants-timeline-item-content-restaurant-underline {
  border-bottom: 2px solid #fff;
  margin-bottom: 4px;
  padding-bottom: 4px;
  width: 100%;
}

/* Restaurants title */
.restaurants-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 48px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .restaurants {
    padding: 128px 7.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .restaurants {
    padding: 48px 16px;
  }

  .restaurants-timeline-container::after,
  .restaurants-timeline-item-content .circle {
    display: none;
  }

  .restaurants-timeline-item {
    justify-content: flex-start;
    padding-right: 0px;
    width: 100%;
  }

  .restaurants-timeline-item:nth-child(odd) {
    align-self: flex-start;
    padding-left: 0px;
  }

  .restaurants-timeline-item-content {
    align-items: flex-start;
    text-align: left;
  }
}
