.col.food-toggle-col {
  display: flex;
  justify-content: center;
}

.food-non-food-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;

  .tab {
    margin: 0.5em 1em;
    border: none;
    border-radius: 26px;
    padding: 0.5em 1em;
    background-color: #ccc;
    color: #000;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }

  .active-tab {
    margin: 0.5em 1em;
    border: none;
    border-radius: 26px;
    padding: 0.5em 1em;
    background-color: #88171a;
    color: #fff;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }

  button {
  }
}

.radio-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.row.view-tab-heading.radio-filter-row {
  margin-bottom: 2em !important;
}

.row.view-tab-heading {
  margin-top: 2em !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  .search-input {
    display: flex;
    justify-content: flex-start;

    input {
      max-width: 60% !important;
      border: 2px solid #000;
      background-color: #fff;
      outline: none;
      border-radius: 26px;
      padding: 0.5em 1em;
      font-weight: 600;
      &:focus {
        border-color: #88171a;
      }
    }
  }
  .tab-row {
    margin-top: 0 !important;
    display: flex;
    justify-content: center;
    .tab-switcher {
      width: 100% !important;
    }
  }
  .add-to-festival-button {
    display: flex;
    justify-content: flex-end;

    button {
      border: none;
      color: #fff;
      background-color: #88171a;
      border-radius: 26px;
      padding: 0.5em 1em;
      font-weight: 600;
    }
  }
}
