/* Discover */
.discover {
  padding: 128px 64px 48px;
}

/* Discover content */
.discover-content {
  padding: 0px !important;
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .discover {
    padding: 128px 16px 48px;
  }

  .page-title-content,
  .search-bar-content {
    padding: 0px 0px 16px !important;
  }
}
