.create-your-passport-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: middle;
}

.row.create-your-passport__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.landing-page__button-primary-black-solid.create-your-passport__call-to-action {
  width: 50%;
  font-size: 1.2em;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.create-your-passport__picture {
  width: 100%;
  border-radius: 20px;
  margin: 3em 0;
}

// below 480px
@media screen and (max-width: 480px) {
  .row.create-your-passport__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.create-your-passport__call-to-action {
    width: 100% !important;
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}

.join-button-create-passport {
  width: 100%;
}

// below 780px
@media screen and (max-width: 780px) {
  .row.create-your-passport__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.create-your-passport__call-to-action {
    width: 100% !important;
    font-size: 1.2em;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
