@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

/* Landing page */
.landing-page {
  color: #000;
  display: inline-block;
  min-height: 100vh;
  padding: 48px 64px;
  width: 100%;
  word-break: break-word;
}

/* Landing Page Button styling */
.landing-page__button-primary {
  border-radius: 40px;
  border: #88171a solid 2px;
  width: 80%;
  padding: 0.5em;
  color: #88171a;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 450ms;
  background: none;
  &:hover {
    background-color: #88171a;
    color: #fff;
    transition: all 450ms;
  }
}

.landing-page__button-primary-black-solid {
  border-radius: 40px;
  border: none;
  width: 80%;
  padding: 0.5em;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 450ms;
  background-color: #000;
  &:hover {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    transition: all 450ms;
  }
}

.landing-page__button-white-primary {
  border-radius: 40px;
  border: #fff solid 2px;
  width: 80%;
  padding: 0.5em;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 450ms;
  background: none;
  &:hover {
    background-color: #fff;
    color: #000;
    transition: all 450ms;
  }
}

.landing-page__button-red-primary {
  border-radius: 40px;
  border: none;
  width: 80%;
  padding: 0.5em;
  background-color: #88171a !important;
  color: #fff;
  font-weight: 900;
  font-size: 1.5em;
  transition: all 450ms;
  background: none;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }
}

.landing-page__button-secondary {
  border-radius: 40px;
  border: #88171a solid 2px;
  width: 30%;
  padding: 0.5em;
  color: #88171a;
  font-weight: 900;
  font-size: 1.2em;
  transition: all 450ms;
  background: none;
  &:hover {
    background-color: #88171a;
    color: #fff;
    transition: all 450ms;
  }
}

.landing-page__heading {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  font-size: 3.5em;
}

.landing-page__heading-light {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  color: #fff;
  font-size: 3.5em;
}

.landing-page-section {
  padding: 3em 0;
}

/* Landing page banner */
.landing-page-banner {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  padding: 128px 80px 48px !important;
  text-align: center;
}

/* Landing page banner statement */
.landing-page-banner-statement {
  color: #000;
  margin: 0px auto;
}

.landing-page-banner-statement-green {
  color: #48582d;
}

.landing-page-banner-statement-red {
  color: #88171a;
}

.landing-page-banner-statement-yellow {
  color: #fdb917;
}

/* Landing page cards */
.landing-page-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Landing page tabs */
.landing-page-tab-content {
  color: #fff;
  font-weight: 500;
  padding: 0px 16px !important;
}

.landing-page-tab-culinary-experiences,
.landing-page-tab-food-samples,
.landing-page-tab-tasting-menus {
  margin-bottom: 16px;
  padding: 12px 16px;

  &:hover {
    cursor: pointer;
  }
}

.landing-page-tab-culinary-experiences {
  background-color: #1c2d55;
}

.landing-page-tab-food-samples {
  background-color: #88171a;
}

.landing-page-tab-tasting-menus {
  background-color: #48582d;
}

/* Load more button content */
.load-more-btn-content {
  padding: 0px 16px !important;
  text-align: center;
}

/* Load more culinary experiences and food samples buttons */
.load-more-culinary-experiences-btn,
.load-more-food-samples-btn {
  border: none;
  color: #fff;
  margin-top: 16px;
  padding: 12px 16px;
  width: 100%;
}

.load-more-culinary-experiences-btn {
  background-color: #1c2d55;
}

.load-more-food-samples-btn {
  background-color: #88171a;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .landing-page {
    padding: 48px 16px;
  }

  .landing-page-banner {
    padding: 128px 16px 48px !important;
  }

  .landing-page-banner-statement {
    font-size: 32px;
    width: 100%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .landing-page-tab-content,
  .load-more-btn-content {
    padding: 0px !important;
  }
}
