.nav-transparent {
  background-color: none !important;
  transition: all 450ms;
}

.nav-white {
  background-color: #fff !important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  transition: all 450ms;
}

/* Add food samples button */
.add-food-samples-btn {
  background-color: #88171a;
  color: #fff;
  font-weight: 500;
  margin-left: 32px;
  padding: 12px 16px;
  text-align: center;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

/* Close modal */
.close-modal {
  background-color: transparent;
  border: none;
  padding: 0px;
}

/* Close modal at bottom hover */
.close-modal-bottom:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Close modal at bottom content */
.close-modal-bottom-content {
  padding-top: 48px;
  text-align: right;
}

/* Dropdown */
.dropdown {
  margin-left: 12px;
}

.dropdown-content {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.dropdown-content a,
.dropdown-content span {
  color: #000;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Arrow icon */
.dropdown-image {
  align-items: center;
  display: flex;
  width: 36px;
}

/* Dropdown item */
.dropdown-item {
  color: #000;
  font-weight: 500;

  &:hover {
    background: none !important;
    color: #000;
    cursor: pointer;
    text-decoration: underline !important;
  }
}

/* Dropdown menu */
.dropdown-menu {
  border: 1px solid #ccc !important;
}

/* Input fields for modals */
.email,
.first-name,
.last-name,
.password,
.phone-number,
.tasttlig-passport-id {
  border: 1px solid #ccc;
  font-family: 'Poppins', Arial, sans-serif !important;
  padding: 12px 44px 12px 12px;
  width: 100%;
}

/* Forgot password, login and sign up buttons */
.forgot-password-btn,
.log-in-btn,
.sign-up-btn {
  background-color: #88171a;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  width: 100%;

  &:hover {
    color: #fff;
    background-color: tomato;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}

/* Modals */
.forgot-password-modal,
.log-in-modal,
.search-modal,
.sign-up-modal {
  background-color: #fff;
  color: #000;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  word-break: break-word;
  z-index: 8;
}

.forgot-password-modal,
.log-in-modal,
.sign-up-modal {
  margin: 80px 0px;
  padding: 32px;
  width: 50%;
}

.search-modal {
  display: none;
}

/* Host button */
.host-btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  margin-left: 24px;
  padding: 12px 16px;

  &:hover {
    color: #fff;
  }
}

/* Hosts button */
.hosts-btn {
  background-color: #1c2d55;
  color: #fff;
  font-weight: 500;
  margin: 0px 16px;
  padding: 12px 16px;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* Input field icon */
.input-icon {
  float: right;
  margin-right: 13px;
  margin-top: -33px;
  position: relative;
}

/* Switch to Login modal */
.log-in-switch {
  float: left;
}

/* Main apply to host button */
.main-apply-to-host-btn {
  font-size: 16px;
  height: 48px;
  margin: 0px 16px;
  padding: 12px 16px;
}

/* Main navbar account */
.main-navbar-account {
  background: none;
  border: none;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  margin-top: 0px;
  padding: 0px;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.image-text-formatting {
  align-items: center;
  display: flex;
}

.restaurant-user-name {
  margin: 0px 12px;
  text-align: center;
}

.user-full-name-white {
  color: #fff;
  margin: 0px 12px;
}

.user-full-name {
  color: #707070;
  margin: 0px 12px;
}

/* Main navbar user default picture */
.main-navbar-account-default-picture {
  color: #88171a;
  height: 48px !important;
  margin-left: 12px;
  width: 48px !important;
}

/* Main navbar user profile picture */
.main-navbar-account-profile-picture {
  border-radius: 50%;
  height: 48px;
  margin-left: 12px;
  width: 48px;
}

/* Main navbar filter */
.main-navbar-filter {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  color: #000;
  display: flex;
  font-size: 16px;
  height: 94px;
  left: 0px;
  padding: 0px 64px 16px;
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 2;
}

/* Main navbar filter button */
.main-navbar-filter-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  padding: 0px 0px 0px 12px;
}

.main-navbar-filter-button-responsive {
  display: none;
}

/* Main navbar filter content */
.main-navbar-filter-content {
  padding: 0px 16px !important;
}

/* Main navbar item */
.main-navbar-item {
  flex: 1 auto;
}

/* Tasttlig logo to have fixed width and height */
.main-navbar-logo {
  height: 48px;
  width: 113px;
}

/* Main navbar navigation */
.main-navbar-navigation {
  align-items: center;
  display: flex;
  height: 100%;
}

/* Main navbar search and toggle buttons */
.main-navbar-search-button,
.main-navbar-toggle-button {
  display: none;
}

/* Space between left and right of navbar content */
.main-navbar-spacing {
  flex: 1;
}

/* Main search bar */
.main-search-bar {
  border: 1px solid #ccc;
  border-radius: 24px;
  font-family: 'Poppins', Arial, sans-serif !important;
  height: 48px;
  padding: 12px 53px 12px 24px !important;
  width: 100%;

  &:focus {
    box-shadow: 0 0 8px #88171a;
    outline: none !important;
  }
}

/* Modal title */
.modal-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Host, hosting and upgrade account buttons on navbar */
.nav-host-btn,
.nav-hosting-btn {
  border-radius: 26px;
  color: #fff;
  font-weight: 600;
  margin: 0px 12px;
  padding: 0.5em 1.5em;
  transition: all 450ms;

  &:hover {
    color: rgb(15, 1, 1);
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
    transition: all 450ms;
  }
}
.nav-upgrade-account-btn {
  border-radius: 12px;
  color: #88171a;
  background-color: white;
  border: solid;
  border-color: #88171a;
  font-weight: 500;
  margin: 0px 12px;
  padding: 12px 24px;

  &:hover {
    color: #fff;
    background-color: #88171a;
    cursor: pointer;
    text-decoration: none;
  }
}

.nav-host-btn {
  background-color: #88171a;
}

// To change join button on navbar
/* .nav-join-btn {
  opacity: 0.9;
  background-color: red;
} */

.nav-hosting-btn {
  background-color: #000;

  &:hover {
    cursor: default;
  }
}

/* Navbar link */
.nav-link,
.nav-link:hover {
  color: #000;
}

.nav-link,
.nav-link-landing-page {
  font-size: 16px;
  font-weight: 500;
  padding: 0.5em 2em;

  a {
    text-decoration: none;
  }
}

.nav-sign-up {
  //background-color: #000;
  color: black;
  //border-radius: 20px;
}

.nav-link-landing-page {
  color: #fff;
  &:hover {
    color: #aaa;
  }
}

.nav-link:hover,
.nav-link-landing-page:hover {
  cursor: pointer;
}

/* Navbar */
.navbar {
  .container {
    margin-top: 0 !important;
  }
}

.navbar,
.navbar-landing-page {
  align-items: center;
  color: #000;
  display: flex;
  font-size: 16px;
  height: 80px;
  left: 0px;
  padding: 16px 80px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.navbar-landing-page {
  background-color: transparent;
}

/* Go from one modal to another */
.option {
  color: #1c2d55;
  cursor: pointer;
  font-weight: 700;

  &:hover {
    color: #1c2d55;
    text-decoration: underline;
  }
}

/* Show/Hide password icon */
.password-icon {
  float: right;
  margin-right: 13px;
  margin-top: -33px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

/* Less than 8 characters for password error message */
.password-less-char {
  color: #000;
  float: left;
  padding: 4px 0px;
}

/* At least 8 characters for password approval message */
.password-min-char {
  color: #1c2d55;
  float: left;
  padding: 4px 0px;
}

/* Modal background */
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.5) !important;
  overflow: auto;
  position: fixed !important;
  z-index: 7 !important;
}

/* Search icon */
.search-icon {
  color: #000;
  float: right;
  margin-left: -41px;
  margin-top: 16px;
  position: absolute;
}

/* Search modal content */
.search-modal-content {
  padding-top: 13px;
}

/* Sign up link */
.sign-up-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 0px 12px 16px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Switch to Sign Up modal */
.sign-up-switch {
  float: right;
}

/* Sponsor button */
.sponsor-btn {
  border: 4px solid #000;
  color: #000;
  font-weight: 500;
  margin: 0px 12px;
  padding: 8px 12px;

  &:hover {
    color: #000;
  }
}

/* Toggle button */
.toggle-button {
  background: transparent;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-right: 16px;
  padding: 0px;
  width: 24px;
  transition: all 450ms;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }

  &:focus {
    outline: none;
  }
}

.toggle-button-line {
  background-color: #fff;
}

.toggle-button-line {
  height: 2px;
  width: 30px;
}

.toggle-button-line-landing-page {
  background-color: #fff;
}

.navBar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
.toggle-button-line-white-bg {
  height: 2px;
  width: 30px;
}

.toggle-button-line-white-bg {
  background-color: #000;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .dropdown,
  .image-text-formatting,
  .main-navbar-item {
    display: none;
  }

  .forgot-password-modal,
  .log-in-modal,
  .sign-up-modal {
    width: 75%;
  }

  .main-navbar-filter {
    height: calc(100% - 80px);
    overflow: auto;
    padding: 0px 16px 16px;
  }

  .main-navbar-filter-button-responsive,
  .main-navbar-search-button {
    background-color: transparent;
    border: none;
    display: inline-block;
    padding: 0px 0px 0px 12px;
  }

  .main-navbar-toggle-button {
    display: inline-block;
  }

  .navbar,
  .navbar-landing-page {
    padding: 16px 32px;
  }

  .search-modal {
    display: inline-block;
    padding: 16px 32px;
    width: 100%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .forgot-password-modal,
  .log-in-modal,
  .sign-up-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }

  .navbar,
  .navbar-landing-page {
    padding: 16px;
  }

  .search-modal {
    padding: 16px;
  }
}
