/* Buy before login button */
.buy-before-log-in {
  background-color: #73887d;
  border: 1px solid #000;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 26px;
  overflow: hidden;
  padding: 1px 13px;
  position: relative;
  text-decoration: none;
  user-select: none;
  visibility: visible;
}

/* Contact modal */
.contact-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
}

/* Experience card */
.experience-card {
  padding: 16px;
}

/* Experience details contact button */
.experience-details-contact-btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  height: 50px;
  padding: 12px 24px;
  text-align: center;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

/* Experience details modal */
.experience-details-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
}

/* Experience details title */
.experience-details-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
}

/* Buy an experience button */
.StripeCheckout {
  background: #73887d !important;
  border: 1px solid #000 !important;
  box-shadow: none !important;
  margin-top: 0px !important;

  span {
    background-image: none !important;
    box-shadow: none !important;
    font-family: "Poppins", Arial, sans-serif !important;
    text-shadow: none !important;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .contact-modal,
  .experience-details-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .contact-modal,
  .experience-details-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }

  .experience-card {
    padding: 16px 0px;
  }
}
