/* Sign up background */
.sign-up-background {
  background-color: #fff;
  position: relative;
}

.mb-4 {
  width: 100% !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
} 

.sign-up-content1 {
  color: #000;
  padding: 56px 24px 24px;
}

.create-button1 {
  
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  padding: 7px;
  width: 100%;
  display:flex;
  margin-top: 0.5rem;
  justify-content: space-evenly;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
  
}
.go-back {
  width: 30%;
  margin-right: 10%;
}

.food-preference {
display: flex;
margin-top: 1rem;
}

.festival-card-attend-btn {
  margin-right: 1rem;
  width: 100%;
  pointer-events: none;
}

.sign-up-btn-passport {
  background-color: #88171a;
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  width: 100%;
  margin-left: 30%;

  &:hover {
    color: #fff;
  }
}
.submit-button-back{
  //padding: 20px 0px 400px 650px;
  padding-top: 40px;
  padding-left: 40px;
  float: left;
}

.submit-button-continue{
  //padding: 20px 630px 10px 10px;
  padding-top: 40px;
  padding-right: 40px;
  float: right;
}

/* .sign-up-btn {
margin-left: 30%;
 } */

/* Sign up background image */
.sign-up-background-image-one {
  background-image: url("../../../../assets/images/column-one-image.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 108vh;
  position: relative;
}

.sign-up-background-image-two {
  background-image: url("../../../../assets/images/column-three-image.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30vh 90vh;
  height: 108vh;
  position: relative;
}

/* Sign up content */
.sign-up-content {
  color: #000;
  padding: 96px 24px 24px;
}

/* Responsive design at max width 1199px */
@media screen and (max-width: 1199px) {
  .sign-up-background-image-two {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {


  .sign-up-background-image-one {
    display: none;
  }

  .sign-up-content {
    padding: 16px 12.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {

  .sign-up-content {
    padding: 16px;
  }
}

.continue-button {
    background-color: #88171a;
      border: none;
      color: #fff;
      font-weight: 500;
      padding: 12px 24px;
      text-align: center;
      width: 190px;
      border-radius: 10px;
      
  }


  .continue-button:hover {
    background-color: tomato;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  .continue-button2 {
    background-color: #88171a;
      border: none;
      color: #fff;
      font-weight: 500;
      padding: 12px 24px;
      text-align: center;
      width: 100%;
      border-radius: 10px;
  }


  .modal-header-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    // background-color: #88171a;
    background-color: white;
    color: black;
    height: 60vh;
    // float: left;
    position: relative;
    border-radius: 20px;
  }
  
  .modal-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    height: 25vh;
  }
  
  .modal-body{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
  }
  
  .modal-button2 {
    color: white;
    padding: 10px;
    background: #88171a;
    transition: none;
    border-radius: 8px;
  }

  .modal-button1 {
    color: white;
    padding: 12px;
    background: black;
    transition: none;
    border-radius: 8px;
  }
  
  .modal-img {
    max-width: 35%;
    display: block;
  }

  .modal-img1 {
    max-width: 28%;
    display: block;
    padding-left:8px;
    padding-top:5px;
  }
  
  .modal-div {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .modal-div-2 {
    position: absolute;
    top: 11vh;
    left: 35%;
  }
  
  .modal-div-7 {
    position: absolute;
    top: 24vh;
    left: 17%;
    font-size: xxx-large;
    font-weight: bold;
  }

  .modal-div-4 {
    position: absolute;
    top: 35vh;
    left: 15%;
    padding-right: 10px;
    font-weight: bold;
    align-content: center
    text-align  center;
  }

  .modal-div-5 {
    position: absolute;
    top: 40vh;
    left: 33%;
    padding-right: 10px;
  }

  .modal-div-6 {
    position: absolute;
    top: 50vh;
    left: 27%;
    padding-right: 10px;
  }

  .modal-content{
    border-radius: 20px 20px;
    
  }

  .passport-activites__preference-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em 1em;
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    width: 70px;
    border: none;
    border-radius: 26px;
    font-size: 1.2em;
    transition: all 450ms;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      
  }


  .passport-activites__preference-btn:hover {
    opacity: 0.8;
      transition: all 450ms;
  }

