/* All host applicants */
.all-host-applicants {
  color: #000;
  padding: 128px 80px 48px;
  word-break: break-word;
}

/* All host applicants business type */
.all-host-applicants-business-type::first-letter {
  text-transform: uppercase;
}

/* All host applicants navigation */
.all-host-applicants-navigation {
  text-align: left;
}

/* All host applicants navigation content */
.all-host-applicants-navigation-content {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

/* Host applicant content */
.host-applicant-content-col-1 {
  padding: 0px 16px 0px 0px !important;
}

.host-applicant-content-col-2 {
  padding: 0px 0px 0px 16px !important;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .all-host-applicants {
    padding: 128px 32px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .all-host-applicants {
    padding: 128px 16px 48px;
  }

  .host-applicant-content-col-1,
  .host-applicant-content-col-2 {
    padding: 0px !important;
  }
}
