/* Comment card body */
.comment-card-body {
  font-size: 14px;
  font-weight: 300;
}

/* Comment card content */
.comment-card-content {
  border: 1px solid #ccc;
  padding: 16px;
}

/* Comment card default and user pictures */
.comment-card-default-picture,
.comment-card-user-picture {
  height: 48px;
  margin-right: 8px;
  width: 48px;
}

.comment-card-default-picture {
  color: #ff2d55;
}

.comment-card-user-picture {
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* Comment card user date */
.comment-card-user-date {
  color: #707070;
  font-size: 14px;
}

/* Comment card user name */
.comment-card-user-name {
  font-weight: 700;
}
