/* Forgot password page */
.forgot-password {
  padding: 16px 25%;
}

/* Forgot password background image */
.forgot-password-background-image {
  background-image: url("../../assets/images/forgot-password-background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* Forgot password content */
.forgot-password-content {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 24px;
}

/* Forgot password title */
.forgot-password-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .forgot-password {
    padding: 16px 12.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .forgot-password {
    padding: 16px 0px;
  }
}
