/* Festival (Learn More) */
.festival-learn-more {
  padding: 112px 64px 32px;
}

.festival-learn-more-content {
  padding: 16px !important;
}

.festival-learn-more-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.festival-learn-more-text {
  font-size: 18px;
}

/* Previous festival button */
.previous-festival-btn {
  background-color: #fdb917;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 16px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festival-learn-more {
    padding: 128px 16px 48px;
  }

  .festival-learn-more-content {
    padding: 0px !important;
  }

  .festival-learn-more-image {
    margin-bottom: 48px;
  }

  .festival-learn-more-text,
  .previous-experience-btn {
    font-size: 16px;
    text-align: center;
  }

  .previous-festival-btn-content {
    text-align: center;
  }
}
