/* Edit profile sidebar */
.edit-profile-sidebar {
  padding: 0px 32px 0px 0px !important;
}

/* Edit profile sidebar link */
.edit-profile-sidebar-link {
  color: #000;
  padding: 8px 16px 8px 0px;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

/* Responsive design at min width 992px */
@media only screen and (min-width: 992px) {
  .edit-profile-sidebar-dropdown {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media only screen and (max-width: 991px) {
  .edit-profile-sidebar {
    display: none;
  }

  .edit-profile-sidebar-dropdown {
    margin-bottom: 16px;
  }
}
