/* Enter new password */
.enter-new-password {
  padding: 16px 25% 16px;
  text-align: center;
}

/* Enter new password Tasttlig logo */
.enter-new-password-tasttlig-logo {
  height: 48px;
  margin-bottom: 16px;
  width: 113px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .enter-new-password {
    padding: 16px 12.5% 16px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .enter-new-password {
    padding: 16px;
  }
}
