h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

input.form-control {
  margin-top: 0;
  margin-bottom: 1em;
}

.row.business-passport-form-questions {
  margin: 32px 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.passport-form-question-and-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .tab-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
