
// .image-slider-container {
//   width: 70%;
//   margin: auto;
// }

.each-fade {
  display: flex;
}

.each-fade h2 {
  align-items: center;
  background-color: #adceed;
  display: flex;
  justify-content: center;
  margin: 0px;
  width: 25%;
}

.each-fade .image-container {
  overflow: hidden;
  width: 75%;
}

.each-fade .image-container img {
  width: 100%;
}

.each-slide > div {
  align-items: center;
  background-size: cover;
  display: flex;
  height: 300px;
  justify-content: center;
}

.each-slide span {
  background-color: #efefef;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

.image-slider-container {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.indicator {
  border: 1px #0000ff solid;
  color: #0000ff;
  cursor: pointer;
  text-align: center;
  width: 30px;
}

.indicator.active {
  background-color: #000;
  color: #fff;
}
