.sponsorship-content {
	padding: 6px;
	background-color: #FFF;	
}
.line {
	width: 10%;
	margin-top: 1px;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: #C00;
}
.selection {
	padding: 6px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #666;
}
.filter {
	color: #C00;
	margin-right: 3%
}
.delete-btn {
	margin-right: 6%;
	border-width: thin;
	border-style: solid;
	border-color: #C00;
	padding: 4px;
}
.cash {
	margin-right: 6%;
	border: thin solid #000;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.kind {
	border: thin solid #000;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
}
.displpay-content{}