/* Passport (Food Sample) card */
.passport-card {
  padding: 16px;
  text-align: center;
  word-break: break-word;
}

/* Passport (Food Sample) card content hover */
.passport-card-content:hover {
  cursor: pointer;
}

/* Passport (Food Sample) card details */
.passport-card-details {
  font-size: 13px;
}

/* Passport (Food Sample) card flag */
.passport-card-flag {
  height: 160px;
  margin-right: 4px;
  width: 32px;
}

/* Show nationality name when hovering at the flag */
.passport-card-flag:hover + .passport-card-flag-country {
  color: #000;
  display: block;
}

/* Passport (Food Sample) card flag container */
.passport-card-flag-container {
  position: absolute;
  right: 30px;
  text-align: right;
  top: 30px;
}

/* Passport (Food Sample) card flag country */
.passport-card-flag-country {
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  font-size: 14px;
  padding: 8px 20px;
}

/* Passport card section */
.passport-card-section {
  background-color: #fff;
  padding-bottom: 10px;
}

/* Passport (Food Sample) image */
.passport-image {
  height: 300px;
  object-fit: cover;
  padding: 10px;
  width: 100%;
}

.passport-image__full-width {
  height: auto !important;
  width: 100% !important;
}

/* Passport (Food Sample) card text */
.passport-card-text {
  color: #000;
  padding: 0px 10px 10px;

  &:hover {
    color: #000;
  }
}

/* Passport (Food Sample) card title */
.passport-card-title {
  font-weight: 700;
}

/* Restore button */
.restore-btn {
  font-size: 16px;
  padding: 12px 24px;
  width: 100%;
}

/* Food sample box */
.card-box {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .passport-card {
    padding: 16px 0px;
  }

  .passport-card-flag-container {
    right: 14px;
  }
}
