/* Festival card */
.festival-card {
  padding: 16px;
  text-align: center;
  word-break: break-word;
}

/* Festival card buttons */
.festival-card-attend-btn,
.festival-card-host-btn,
.festival-card-sponsor-btn {
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.festival-card-attend-btn {
  background-color: #c04c2a;
}

.festival-card-host-btn {
  background-color: #88171a;
}

.festival-card-sponsor-btn {
  background-color: #48582d;
}

/* Festival card category */
.festival-card-category {
  padding: 0px 4px 0px 0px !important;
  text-align: left;
}

/* Festival card date (ending and upcoming) */
.festival-card-date-ending,
.festival-card-date-upcoming {
  font-size: 14px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 32px;
}

/* Festival card date (ending and upcoming) days */
.festival-card-date-ending-days,
.festival-card-date-upcoming-days {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 6px;
}

.festival-card-date-ending-days {
  background: #88171a;
}

.festival-card-date-upcoming-days {
  background-color: #48582d;
}

/* Festival card date (ending and upcoming) text */
.festival-card-date-ending-text,
.festival-card-date-upcoming-text {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 6px;
}

/* Festival card date (live) */
.festival-card-date-live {
  background-color: #fff;
  padding: 0px 6px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 24px;
}

/* Festival card details */
.festival-card-details {
  font-size: 13px;
  padding-bottom: 8px;
  height: 60px;
}

/* Festival card footer */
.festival-card-footer {
  background-color: rgba(249, 133, 55, 0.2);
  font-weight: 500;
  padding: 16px 8px;
}

/* Festival card host checkbox content */
.festival-card-host-checkbox-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.festival-checkbox {
  //width: 100px; 
  //height: 100px; 
  //transform : scale(10); 
  -ms-transform: scale(3); /* IE */
  -moz-transform: scale(3); /* FF */
  -webkit-transform: scale(3); /* Safari and Chrome */
  -o-transform: scale(3); /* Opera */
  transform: scale(3);
  padding: 10px;
border-radius: 20px 20px;
}

/* Festival card image */
.festival-card-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px;
}

/* Festival card link */
.festival-card-link {
  color: #000;
  margin-bottom: auto;

  &:hover {
    color: #000;
  }
}

/* Festival card location */
.festival-card-location {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}

/* Festival card location and time icons */
.festival-card-location-icon,
.festival-card-time-icon {
  color: #c04c2a;
}

/* Festival card price */
.festival-card-price {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}

/* Festival card text */
.festival-card-text {
  padding: 8px;
  text-align: left;
}

/* Festival card time */
.festival-card-time {
  padding: 0px 4px 0px 0px !important;
}

/* Festival card title */
.festival-card-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}

/* Passport card section */
.passport-card-section {
  background-color: #fff;
  padding-bottom: 10px;
}

.passport-image__full-width {
  height: auto !important;
  width: 100% !important;
}

/* Food sample box */
.card-box {
  // border: 1px solid #ccc;
  // box-shadow: 5px 5px 10px #ccc;
  //border: 3px solid blue;
      border: 2px solid red;
    border-radius: 20px 20px;
}
.price-box {
    border-radius: 20px 20px;
}


/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-card {
    padding: 16px 0px;
  }

  .festival-card-date-ending,
  .festival-card-date-live,
  .festival-card-date-upcoming {
    right: 8px;
  }

  .festival-card-category,
  .festival-card-location,
  .festival-card-price,
  .festival-card-time {
    padding: 0px !important;
  }

  .festival-card-location,
  .festival-card-price {
    text-align: left;
  }
}
