.overflow{   
  max-width: 100%;
  overflow-x: hidden;
}
/* Festivals page cards */
.festivals-page-cards {
    display: flex;
    flex-wrap: wrap;   
  }
  /* Sign up background image */
.sponsor-cash-plan-image {
  background-image: url("./../../../assets/images/sponsor-cash-plan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //height: 108vh;
  position: static;
}

.submit-button-sponsor-plan{  
  color: rgb(197, 30, 30);
  padding: 72px 48px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {

  .sponsor-cash-plan-image {
    display: none;
  }

}