.sponsor-package-content {
    margin-top: 150px;
  }

  .sponsor-package-link {
    width: 100%;
  }

  .sponsor-package-btn {
    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  
}
