/* Main side drawer in toggle mode */
.main-side-drawer {
  background-color: #000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  width: 75%;
  z-index: 6;
}

/* Main side drawer list item */
.main-side-drawer-item {
  color: #fff;

  &:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }
}

.main-side-drawer-item-hosting {
  color: #fff;
}

/* Open main side drawer in toggle mode */
.main-side-drawer.open {
  overflow: auto;
  padding: 16px;
  transform: translateX(0);
}

/* Main side drawer list items */
.main-side-drawer.open li {
  margin-bottom: 16px;
}

/* Main side drawer unordered list */
.main-side-drawer.open ul {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  list-style: none;
  padding: 0px;
  text-align: center;
  transform: translate(0%, 50%);
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .main-side-drawer {
    display: none;
  }
}
