@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.passport-profile__content {
  font-size: 0.75em;

  .passport-profile__info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: normal;
    margin-bottom: 1.5em !important;

    .passport-profile__subtitle {
      font-size: 1.5em;
      margin: 0 !important;
      text-transform: capitalize;
      color: #88171a;
    }

    .passport-profile__user-data-values {
      text-transform: uppercase;
      letter-spacing: 0.5em;
      color: #000;
      font-size: 1.5em;
      font-family: 'Roboto Mono', monospace !important;
    }
  }
}
