.background {
  background-image: url('../../assets/images/Oxtail.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.3); // Make sure this color has an opacity of less than 1
  backdrop-filter: blur(8px); // This be the blur
  height: 100vh;
  width: 100%;
}

.confirmation-image {
  // background-image: url("../../assets/images/check-mark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 1000px;
  max-height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-left: 200px;
  //border-radius: inherit;

  // height: 60vh;
}

.logos-styling1 {
  padding-left: 40px;
}

.submit-button-vending {
  //padding: 20px 0px 400px 650px;
  padding-top: 40px;
  padding-left: 40px;
  float: left;
}
.submit-button-sponsor {
  //padding: 20px 0px 400px 650px;
  padding-top: 40px;
  padding-left: 40px;
  margin-left: 10px;
  float: left;
}

.submit-button-explore {
  //padding: 20px 630px 10px 10px;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  float: left;
}

// .sponsor-button{
//   background-color: #88171a;
//   border: none;
//   color: #fff;
//   font-weight: 500;
//   padding: 12px 24px;
//   text-align: center;
//   width: 100%;
//   border-radius: 15px;
// }

.log-in-btn {
  border-radius: 15px;
}

.text-dark1 {
  color: white;
}

.modal-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #88171a;
  color: #ffffff;
  height: 35vh;
  width: 70vh;
  // float: left;
  position: relative;
  border-radius: 20px;
}

.modal-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  height: 25vh;
  width: 70vh;
}

.modal-content {
  border-radius: 20px 20px;
  width: 70vh;
}

.modal-body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.modal-button {
  color: white;
  padding: 16px;
  background: #88171a;
  transition: none;
  border-radius: 10px;
}

.modal-button:hover {
  background-color: rgb(39, 10, 10);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modal-button1 {
  color: white;
  padding: 16px;
  background: black;
  transition: none;
  border-radius: 10px;
}

.modal-img {
  max-width: 40%;
  display: block;
}

.modal-img1 {
  max-width: 25%;
  display: block;
}

.modal-div {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-div-2 {
  position: absolute;
  top: 4vh;
  left: 35%;
  justify-content: center;
}

.modal-div-3 {
  position: absolute;
  top: 24vh;
  left: 30px;
  padding-right: 10px;
  font-size: large;
}

.css-yk16xz-control,
.css-1pahdxg-control {
  border-radius: 10px !important;
  font-size: 14px;
  min-height: 50px !important;
  padding-left: 30px;
  width: 100%;
}

.custom-select1 {
  width: 100%;
  border-radius: 10px 10px;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 40px;
  height: 50px !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  border: 1px solid #ced4da;
}
