@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

.user-background-image1 {
  background-image: url("../../assets/images/BusinessPassportColumn1.JPG");
  background-position: left;
  background-repeat: no-repeat;
  background-size: auto;
  height: 108vh;
}

.user-background-image2 {
  background-image: url("../../assets/images/BusinessPassportColumn3.JPG");
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  height: 108vh;
}

.tasttlig-image {
  //background-image: url("../../assets/images/tasttlig-logo-black.png");
  // background-position: relative;
  background-position: left;
  background-repeat: no-repeat;
  //background-size: small;
  //align-items: left;
  height: 10vh;
  width: 20vh;
  display: block;
  margin-left: initial;
  margin-right: auto;
  padding-bottom: 10px;
}

.business-passport-content1 {
  color: darkred;
  font-size: large;
  font-weight: bold;
  // padding: 96px 24px 24px;
  // padding-bottom: 50px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 20px;
}

.business-passport-content2 {
  color: #000;
  font-size: medium;
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 20px;
}

.business-passport-input-style {
  padding-left: initial;
  padding-right: 15px;
  min-width: 260px;
  padding-bottom: 15px;
  border-radius: 15px;
}

.business-passport-input-style-2 {
  min-width: 260px;
  padding-bottom: 15px;
}

.business-passport-input-style-3 {
  min-width: 275px;
  padding-left: 15px;
}

.email-2 {
  border: 1px solid #ccc;
    font-family: "Poppins", Arial, sans-serif !important;
    padding: 12px 44px 12px 12px;
    width: 100%;
    border-radius: 15px;
    // border-radius: 10px;
}

// .input-style-3 {
//   min-width: 260px;
// }

// .input-style-2 {
//   // padding-right: 15px;
//   padding-left: 15px;
//   padding-bottom: 10px;
//   // padding-right: 15px;
//   min-width: 260px;
// }

.business-registered-title {
  padding: 10px 0px 10px 10px;
  font-weight: bold;
  min-width: 10px;
}

.submit-button-style {
  padding: 10px 0px 10px 10px;
  float: right;
}

.submit-button-back {
  padding: 10px 0px 10px 10px;
  float: left;
}

.submit-button-style1 {
  padding: 200px 0px 400px 650px;
  float: left;
  //shadowColor: 'black';
}

.submit-button-style2 {
  padding: 200px 630px 10px 10px;
  float: right;
  //shadowColor: 'black';
}

.radio-style {
  padding: 10px 30px 20px 10px;
}

.log-in-btn {
  border-radius: 15px;
}

.logos-styling{
  flex: inherit;
}

.text-border{
  // border-radius: 10px;
  height: 50px !important;
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 40px;
  width: 100%;
  font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    display: inline-block;
    border-radius: 15px;
}


.CRA-number {
  border: 1px solid #ccc;
    font-family: "Poppins", Arial, sans-serif !important;
    padding: 14px 44px 15px 20px;
    width: 100%;
    border-radius: 15px;
    font-size: small;
}
