/* Default publisher photo */
.default-publisher-photo {
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #ff2d55;
  height: 200px;
  padding: 44px;
  width: 200px;
}

/* Publisher section */
.publisher {
  padding: 128px 80px 64px;
  word-break: break-word;
}

/* Publisher email and phone */
.publisher-email,
.publisher-phone {
  padding-top: 8px;
  text-align: left;
}

/* Publisher email and phone icons */
.publisher-email-icon,
.publisher-phone-icon {
  padding-right: 18px;
}

/* Publisher header */
.publisher-header {
  margin: 0px !important;
  padding-bottom: 32px;
}

/* Publisher header information */
.publisher-header-information {
  overflow: auto;
  padding: 0px !important;
}

/* Publisher header picture */
.publisher-header-picture {
  padding: 0px !important;
}

/* Publisher name */
.publisher-name {
  font-size: 32px;
  font-weight: 700;
}

/* Publisher photo */
.publisher-photo {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* Publisher photo section */
.publisher-photo-section {
  justify-content: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .publisher {
    padding: 128px 16px 64px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .publisher-name {
    padding-top: 32px;
  }

  .publisher-photo-section {
    justify-content: left;
  }
}
