/* Experience card description */
.Experience-card-description {
  font-size: 14px !important;
}

/* Select Experience */
.select-Experience {
  margin-left: 0px !important;
}

/* Select Experience button */
.select-Experience-btn {
  background-color: #f5ae66;
  border: 1px solid #000;
  border-radius: 4px;
  color: #fff;
  padding: 6px 12px;
}
