/* Experience description */
.experience-description {
  padding: 0px 0px 0px 32px !important;
}

/* Experience description content */
.experience-description-content {
  padding-top: 32px;
  text-align: left;
  word-break: break-word;
}

.experience-description-content-responsive {
  padding-top: 32px;
  word-break: break-word;
}

/* Experience description icon content */
.experience-description-icon-content {
  padding: 0px !important;
}

/* Experience description sub-title */
.experience-description-sub-title {
  font-weight: 700;
}

/* Experience details */
.experience-details {
  color: #000;
  min-height: 100vh;
  padding: 128px 64px 48px;
  width: 100%;
  word-break: break-word;
}

/* Experience details buy and images contents */
.experience-details-buy-content,
.experience-details-images-content {
  padding: 0px 16px !important;
}

.experience-details-buy-section {
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 24px 16px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 128px;
}

.experience-details-images-section {
  background-color: #f8f8f8;
  margin-top: 16px;
  text-align: center;
}

/* Share button */
.share-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 8px;

  &:hover {
    cursor: pointer;
  }
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .experience-description-content-responsive {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .experience-description-content {
    display: none;
  }

  .experience-details {
    padding: 128px 32px 48px;
  }

  .experience-details-buy-content {
    padding: 0px !important;
  }

  .experience-details-buy-section {
    border: none;
    box-shadow: none;
    padding: 16px 0px 0px;
  }

  .experience-details-images-content {
    padding: 0px 0px 16px !important;
  }

  .share-btn {
    right: 8px;
    top: 24px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .experience-details {
    padding: 128px 16px 48px;
  }
}
