* {
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

.row.header-row {
  width: 80%;
}

.landing-page__header {
  height: 100vh;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url(/img/header-photo-4.jpg);
  // background-image: url('../../assets/images/banner.jpg');
  background-image: url('../../../assets/images/banner12.jpg');
  z-index: -9999;
}

.header__main-heading {
  // margin-left: -12px;
  margin-top: -100px;
  font-size: 4.5em;
  color: #fff;
  // position: absolute;
}

.landing-page__button-white-primary.header__main-header-button {
  margin-top: 50px;
  width: 50%;

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #000;
    }
  }
  // position: absolute;
}

.landing-page__button-red-primary.header__main-header-button {
  margin-top: 50px;
  width: 50%;

  a {
    display: block;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  // position: absolute;
}

.header__learn-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90vh;
  padding: 20px;
  // font-size: 2.5em;
  color: #fff;
  transition: all 450ms;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.08);
    transition: all 450ms;
  }
  span.learn-more-text {
    font-size: 1.2em;
    font-weight: 600;
  }
  span.learn-more-arrow {
    font-size: 1.5em;
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .header__main-heading {
    font-size: 2.3em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  }

  .landing-page__button-white-primary.header__main-header-button,
  .landing-page__button-red-primary.header__main-header-button {
    margin-top: 50px;
    width: 100%;
    a {
      display: block;
      font-size: 0.9em;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
    // position: absolute;
  }

  .header__learn-more {
    top: 87vh;
    span.learn-more-text {
      font-size: 1.2em;
      font-weight: 600;
    }
    span.learn-more-arrow {
      font-size: 1.5em;
    }
  }
}

// between 480px - 780px
@media screen and (min-width: 481px) and (max-width: 780px) {
  .header__main-heading {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  }

  .landing-page__button-white-primary.header__main-header-button,
  .landing-page__button-red-primary.header__main-header-button {
    margin-top: 50px;
    width: 100%;
  }
}

.nav-join-btn {
  background-color: #88171a;
  font-size: xx-large;
  border-radius: 26px;
  color: #fff;
  font-weight: 600;
  // margin: 0px 12px;
  // padding: 0.5em 1.5em;
  margin: 0px 5px;
  padding: 0.2em 1.1em;
  transition: all 450ms;

  &:hover {
    color: rgb(15, 1, 1);
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
    transition: all 450ms;
  }
}
