footer {
  padding: 2.5em;
  background-color: #000;
  color: #fff;
  h3 {
    color: #fff;
  }

  a {
    color: #fff;
    &:hover {
      color: rgb(50, 50, 50);
    }
  }

  .container.footer-content {
    margin-top: -0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .footer-contact {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .footer-follow {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .footer-heading {
        display: flex;
        flex-direction: flex-end;
      }
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        i {
          margin-left: 1em;
          font-size: 1.5em;
        }
      }
    }
  }

  .footer-copyright {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

// below 480px
@media screen and (max-width: 480px) {
  footer {
    .container.footer-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footer-follow {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .footer-heading {
          display: flex;
          flex-direction: row;
        }
        .social-icons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          i {
            margin-left: 1em;
            font-size: 1.5em;
          }
        }
      }
    }

    .footer-copyright {
      padding-top: 2em;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}

.row.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.row.footer__right.charity {
  margin-bottom: 1em !important;
  button {
    background-color: #fff;
    border-radius: 26px;
    font-weight: 600;
    color: #000;
    padding: 0.3em 0.7em;
    margin: 0.5em 0;
    border: none;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }
}
