/* About us */
.about-us {
  padding: 128px 80px;
}

/* About us section */
.about-us-section {
  padding: 0px 16px !important;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .about-us {
    padding: 128px 16px;
  }

  .about-us-section {
    padding: 0px !important;
  }
}
