/* Host festival buttons */
.festival-banner-add-food-sample-btn,
.festival-banner-previous-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 18px 24px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

.festival-banner-add-food-sample-btn {
  background-color: #88171a;
  margin: 0px 16px 16px 0px;
}

.festival-banner-previous-btn {
  background-color: #1c2d55;
  margin: 0px 0px 16px 16px;
}

/* Festival banner date and location */
.festival-banner-date,
.festival-banner-location {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 4px;
}

/* Festival banner title */
.festival-banner-title {
  color: #fff;
  font-weight: 700;
}

/* Upcoming festival banner */
.upcoming-festival-banner {
  background-image: url("../../../assets/images/banner-festival-toronto.jpg");
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festival-banner-add-food-sample-btn,
  .festival-banner-previous-btn {
    font-size: 16px;
    padding: 12px 16px;
  }

  .festival-banner-date,
  .festival-banner-location {
    font-size: 24px !important;
  }

  .festival-banner-title {
    font-size: 32px;
  }

  .host-festival-btn {
    font-size: 24px !important;
    padding: 18px 24px !important;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-banner-date,
  .festival-banner-location {
    font-size: 16px !important;
  }

  .festival-banner-title {
    font-size: 24px;
  }

  .host-festival-btn {
    font-size: 16px !important;
    padding: 12px 16px !important;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .festival-banner-add-food-sample-btn,
  .festival-banner-previous-btn {
    display: block;
    margin: 0px auto 16px;
    width: -moz-fit-content; /* Firefox */
    width: fit-content;
  }
}
