.navbar-content {
  background-color: #d6d6d6;
  padding: 1%;
  width: 99%;
  overflow: hidden;
  position: relative;
}
.logo {
  overflow: hidden;
  height: 40px;
  width: 80px;
}
.logo-img {
  height: 35px;
  width: 35px;
}
.navbar-layer-a {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #666;
  margin-bottom: 5px;
}
.overlap-inline {
  display: inline-block;
}
.roles {
  //background-color: #FFF;
  margin-right: 7%;
  margin-left: 7%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  width: 40%;
}
.role {
  background-color: #fff;
}
.sponsor-logo {
  height: 15px;
  width: 15px;
}
.role-text {
  color: #c00;
}
.host-apply-btn {
  color: #c00;
  margin-right: 6%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  border: thin solid #c00;
  background-color: #fff;
}
.vend-apply-btn {
  color: #c00;
  margin-right: 14%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  border: thin solid #c00;
  background-color: #fff;
}
.credit-balance-label {
  margin-right: 1%;
}
.credit-balance {
  border: thin solid #999;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  margin-right: 1%;
}
.top-up {
  color: #fff;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  //background-color: #000;
}
.navbar-layer-b {
  padding-top: 2px;
  padding-bottom: 2px;
}
.tickets {
  color: #fff;
  background-color: #c00;
  display: inline-block;
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
}
.products {
  color: #fff;
  background-color: #000;
  display: inline-block;
  margin-right: 5%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
}
.services {
  color: #fff;
  background-color: #000;
  display: inline-block;
  margin-right: 14%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
}

.promotions {
  color: #fff;
  background-color: #000;
  display: inline-block;
  margin-right: 14%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
}

.tasttlig-logo-img {
  height: 32px;
  width: 90px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.bar {
  height: 30px;
  border-left-width: thick;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: #c00;
  margin-right: 15px;
  margin-left: 15px;
}
.title {
  font-size: 36px;
  color: #c00;
}
.goto-tasttlig {
  display: inline-block;
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  color: #000;
}
.add-btn {
  font-size: 36px;
  color: #000;
  background-color: #fff;
  padding: 4px;
  width: 45px;
  text-align: center;
}

.add-btn-span {
  width: 50px;
  height: 50px;
}
.navbar-layer-c {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #c00;
  background-color: #fff;
}
.home-btn {
  background-color: #fff;
  margin-right: 6%;
  margin-left: 14%;
  margin-bottom: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  color: #999;
}
.home-logo {
  height: 15px;
  width: 15px;
}
.sponsorship-btn {
  background-color: #fff;
  margin-right: 6%;
  margin-left: 6%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  color: #999;
}
.sponsorship-logo {
  height: 15px;
  width: 15px;
}
.order-btn {
  background-color: #fff;
  margin-right: 6%;
  margin-left: 6%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  color: #999;
}
.order-logo {
  height: 15px;
  width: 15px;
}
.redemption-btn {
  background-color: #fff;
  margin-right: 6%;
  margin-left: 6%;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
  color: #999;
}
.redemption-logo {
  height: 15px;
  width: 15px;
}
