/* Dashboard page */
.dashboard-products-and-services {
  color: #000;
  padding: 128px 72px 48px;
  word-break: break-word;
}

/* Dashboard content */
.dashboard-content-consumers,
.dashboard-content-create-from-admin,
.dashboard-content-experiences,
.dashboard-content-food-samples,
.dashboard-content-menu-items {
  padding: 16px;
  text-align: center;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.dashboard-content-consumers,
.dashboard-content-create-from-admin {
  border: 8px solid #000;
}

.dashboard-content-experiences {
  border: 8px solid #1c2d55;
}

.dashboard-content-food-samples {
  border: 8px solid #88171a;
}

.dashboard-content-menu-items {
  border: 8px solid #48582d;
}
/* Create form modal */
/* .forms-modal {
  border: none !important;
  background: none !important;
  overflow: initial !important;
  height: 100% !important;
} */
.create-forms-modal {
  background-color: #fff;
  color: #000;
  left: 50%;
  padding: 12px 32px 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 75%;
  word-break: break-word;
  z-index: 8;
}
.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-bottom: 1.5em;
}
.close-modal-button {
  padding: 0;
  border: none;
  background: none;
}
.button-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}
.add-title {
  font-size: large;
  width: 100%
}
.select-form {
  margin-left: 2.5em;
  width: 100%;
  border-radius: 16px;
  padding-left: 30px;
}
.first-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}
.product-name-input-nationality-select,
.product-name-input {
  border: none;
  border-color: #BEBEBE;
  border-bottom: solid;
  padding-left: 0px;
  padding-bottom: 0px;
}
.product-name-input-nationality-select {
  margin-bottom: 0px !important;
}
.made-in {
  width: 50%;
  border-right: solid;
  border-color: #BEBEBE;
  margin-right: 5px;
  border-bottom: solid;
  padding-top: 0px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.made-in-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: solid;
  padding: 0px;
}
.options-label {
  position: absolute;
}
.custom-select {
  width: 100%;
}
.last-date-input {
  border: none;
  border-color: #BEBEBE;
  border-bottom: solid;
  padding-left: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.nationality-selector {
  width: 85%;
}
.file-input {
  width: 100%;
  height: 100%;
}

.images-container {
  display: flex;
}
.dropbox__image-list {
  overflow-y: unset;
}
.dropbox__dropzone {
  width: none;
}
.dropbox__label {
  padding: 0px;
}
.form-submit-section {
  display: flex;
  width: 35%;
  height: 50px;
  padding: 6px 6px 6px 6px;
  margin-top: 2.5em;
}
.form-submit-button {
  background-color: #88171A;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 23px; 
}
.button-checkmark {
  text-align: center;
}

/* .dropbox__label {
  display: none;
} */
textarea.form-control {
  height: auto;
  width: 100%;
}

/* Dashboard content text */
.dashboard-content-text {
  color: #000;
  font-weight: 500;
}

/* Dashboard forms add button */
.dashboard-forms-add-btn {
  background-color: #88171a;
  border: none;
  border-radius: 24px;
  color: #fff;
  font-weight: 500;
  margin: 0px;
  padding: 12px 72px;
}

/* Dashboard forms button */
.dashboard-forms-btn {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.dashboard-forms-btn-content {
  text-align: right;
}

/* Dashboard forms close */
.dashboard-forms-close {
  position: absolute;
  right: 24px;
  top: 24px;
}

/* Dashboard input columns */
.dashboard-forms-input-content-col-1 {
  padding: 0px 16px 0px 0px !important;
}

.dashboard-forms-input-content-col-2 {
  padding: 0px 16px !important;
}

.dashboard-forms-input-content-col-3 {
  padding: 0px 0px 0px 16px !important;
}

/* Dashboard forms modal */
.dashboard-forms-modal {
  background-color: #fff;
  color: #000;
  left: 50%;
  margin: 80px 0px;
  padding: 80px 128px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 75%;
  word-break: break-word;
  z-index: 8;
}

/* Dashboard forms title */
.dashboard-forms-title {
  font-size: 24px;
}

/* Dashboard header */
.dashboard-header {
  font-size: 16px;
  padding: 8px !important;
  text-align: right;
}

/* Dashboard icon */
.dashboard-icon {
  margin-bottom: 8px;
}

/* Dashboard section */
.dashboard-section {
  padding: 8px !important;
}

/* Dashboard title */
.dashboard-title {
  font-size: 32px;
  font-weight: 700;
  padding: 0px 8px 16px;
}

/* Experience, food sample, menu item and order cards */
.experience-cards,
.food-sample-cards,
.menu-item-cards,
.order-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Mini card image */
.mini-card-image {
  height: 150px;
  object-fit: cover;
  width: 150px;
}

/* Your archived and current experiences, food samples and menu items */
.your-archived-food-experiences,
.your-archived-food-samples,
.your-current-experiences,
.your-current-food-samples,
.your-current-menu-items {
  color: #000;
  padding: 128px 64px 48px;
  word-break: break-word;
}

/* Your archived and current experiences, food samples, menu items and orders 
title */
.your-archived-experiences-title,
.your-archived-food-samples-title,
.your-current-experiences-title,
.your-current-food-samples-title,
.your-current-menu-items-title,
.your-orders-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* Your orders */
.your-orders {
  color: #000;
  padding: 128px 80px 48px;
  word-break: break-word;
}

/* Your orders column name */
.your-orders-column-name {
  font-weight: 500;
}

/* Your orders item */
.your-orders-item:hover {
  cursor: pointer;
}

/* Your orders item content */
.your-orders-item-content {
  padding: 0px 16px !important;
}

/* Your orders item text */
.your-orders-item-text {
  color: #000;
}

.card-image {
  height: 300px;
  padding: 10px;
  width: 300px;
  object-fit: cover;
}

.page-filters {
  padding: 16px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  text-align: left;
  top: 0;
  width: 100%;

  .filter-section-categories {
    input[type="datetime-local"] {
      width: 100%;
    }
  }

  .filter-section-categories ul {
    list-style: none;
    padding: 0;
  }

  .filter-section-categories ul li input {
    margin-right: 10px;
  }

  .filter-section-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
  }

  .page-filters hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.span-center {
  display: table;
  margin: 5px auto;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .dashboard-products-and-services {
    padding: 128px 32px 48px;
  }

  .dashboard-forms-btn-content {
    text-align: center;
  }

  .dashboard-forms-modal {
    padding: 80px 48px;
    width: 75%;
  }

  .dashboard-header {
    padding: 8px 0px !important;
    text-align: center;
  }

  .dashboard-section {
    padding: 8px 0px !important;
  }

  .dashboard-title {
    padding: 0px 0px 16px;
    text-align: center;
  }

  .your-archived-food-experiences,
  .your-archived-food-samples,
  .your-current-experiences,
  .your-current-food-samples,
  .your-current-menu-items,
  .your-orders {
    padding: 128px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .dashboard-products-and-services {
    padding: 128px 16px 48px;
  }

  .dashboard-forms-add-btn {
    width: 100%;
  }

  .dashboard-forms-input-content-col-1,
  .dashboard-forms-input-content-col-2,
  .dashboard-forms-input-content-col-3 {
    padding: 0px !important;
  }

  .dashboard-forms-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 80px 24px;
    width: 100%;
  }

  .mini-card-image {
    margin-bottom: 16px;
  }

  .page-filters {
    border-right: none;
    padding: 0px;
  }

  .your-orders-item-content {
    padding: 0px !important;
  }
}
