section.experience {
  background-color: #88171a;
  background-image: url(/img/experience-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // width: 100%;
  border-radius: 16px;
  padding: 0;
}

.experience-content {
  width: 60%;
  .experience-heading {
    padding-bottom: 0.2em;
  }
  .experience-message {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 1em;
    font-weight: 600;
  }
  padding: 5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .experience__call-to-action {
    width: 50%;
    font-size: 1.5em;
    padding: 0.2em;

    a {
      display: block;
      text-decoration: none;
      color: #fff;
      &:hover {
        color: #000;
      }
    }
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .experience-content {
    width: 100%;
    .experience-message {
      text-align: center;
    }
    .experience__call-to-action {
      width: 100%;
    }
  }
}
