.termsAndConditions1 {
    background-color: #faf8f8;
    // background-image: url('../../../assets/images/terms-conditions.jpg');
    .background-image{
        opacity: 5;
    }
    height: '100%';
    width: '100%';
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0;
    // opacity:0.5;
}





.conditions-style {
    display: flex;
    padding-left: 18px;
    color: #88171a;
    font-size: large;
    font-weight: bold;
    text-shadow: 0px 2px 8px #0e0000;
    // padding-bottom: 20px;
}

.question-style {
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    color: #88171a;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 0px 2px 8px #e5dada;
    // padding-bottom: 20px;
}

.conditions-style1 {
    display: flex;
    padding-left: 10px;
    padding-bottom: 20px;
    color: beige
}

.terms-and-conditions{
    padding-bottom: 20px;
}

.terms-and-conditions1{
    padding-bottom: 20px;
}


.conditions-title {
    padding: 10px 0px 10px 10px;
    font-weight: bold;
    min-width: 10px;
    color: #efe8e8;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 0px 2px 8px #e5dada;
}

.options-radio-style {
    padding: 10px 30px 20px 10px;
    color: #88171a;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 0px 2px 8px #e5dada;
}

.options-block{
    padding-left: 20px;
}



.agree-disagree-button {
    color: white;
    font-weight: bold;
    padding: 16px;
    background:#8f0a0a;
    transition: none;
    border-radius: 25px;
    padding-right: 20px;
    
}

.agree-disagree-button:hover {
    background-color: rgb(39, 10, 10);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


  .proceed-button {
    // background-color: #f5f3f3;
    height: '100%';
    width: '100%';
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
}

.conditions-content{
    padding: 10px 10px 10px 10px;
}



.conditions-content-card {
    padding: 1em;
    margin: 1em;
    background-color: #efe8e8;
    color: #88171a;
    font-size: large;
    font-weight: 500;
    border-radius: 26px;
    transition: all 450ms;
    text-align: justify;
    padding-left: 30px;
}

.conditions-title-card {
    padding: 0.5em;
    margin: 1em;
    background-color: #efe8e8;
    color: #88171a;
    font-size: x-large;
    font-weight: bolder;
    border-radius: 26px;
    transition: all 450ms;
    text-align: center;
}


.align-vend-button{
    display: flex;
   justify-content: center;
   width: 100%;
}

