/* Services */
.services {
  background-color: transparent;
  border: none;
  bottom: 16px;
  color: #ff2d55;
  position: fixed;
  right: 16px;

  &:hover {
    color: #00acee;
    cursor: pointer;
    text-decoration: none;
  }
}

/* Services modal */
.services-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  z-index: 8;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .services-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .services-modal {
    border-radius: 0px;
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }
}
