.landing-page__button-primary-black-solid.sponsor__call-to-action {
  width: 40%;
  font-size: 1.2em;
  background: #88171a;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.sponsor__heading {
  margin-top: 1em;
  font-size: 2.8em;
}

.sponsor__body {
  font-size: 1.2em;
}

.red-text {
  color: #88171a;
}

.join-button-sponsor-tasttlig {
  width: 100%;
  
}

.sponsor__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .sponsor__picture {
    width: 100%;
    border-radius: 20px;
    // padding: 3em;
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .sponsor__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.sponsor__call-to-action {
    width: 100%;
    margin-bottom: 1.2em;
  }
}

// below 780px
@media screen and (max-width: 780px) {
  .sponsor__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.sponsor__call-to-action {
    width: 100%;
    margin-bottom: 1.2em;
  }
}
