/* Payment page content */
.payment-content {
  padding: 0px 16px 48px !important;
}

/* Payment user info */
.payment-user-info {
  padding: 0px 16px !important;
}

.container-fluid {
  margin-top: 200px;
}

.hint {
  font-size: small;
}

.title {
  font-size: x-large;
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .payment-user-info {
    padding: 0px !important;
  }
}
