.host-button-red {
  background-color: #88171a !important;
  color: #fff !important;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }
}

.tab-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-switcher {
  display: flex;
  flex-direction: row;
  width: 30%;
  background-color: #eee;
  border-radius: 26px;
  transition: all 200ms;

  button.tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    transition: all 200ms;
    &:hover {
      background-color: #ccc;
      color: #000;
      transition: all 250ms;
    }
  }

  button.active-tab {
    padding: 0.3em;
    box-shadow: none;
    border-radius: 26px;
    border: none;
    background: none;
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    transition: all 200ms;
    &:hover {
      background-color: #88171a;
      color: #fff;
      font-weight: 600;
      transition: all 250ms;
    }
  }

  .active {
    background-color: #88171a !important;
    &:hover {
      opacity: 0.8;
      color: #fff !important;
    }
  }
}

.create-your-passport__heading {
  font-size: 2.8em;
  margin-bottom: 0;
}

.create-your-passport__body {
  font-size: 1.2em;
}

.red-text {
  color: #88171a;
}

// below 480px
@media screen and (max-width: 480px) {
  .tab-switcher {
    margin-bottom: 2em;
    width: 100%;
  }
}

// below 780px
@media screen and (max-width: 780px) {
  .tab-switcher {
    margin-bottom: 2em;
    width: 100%;
  }
}
