/* Complete profile page */
.complete-profile {
  color: #000;
  padding: 128px 25% 48px;
  word-break: break-word;
}

/* Complete profile page title */
.complete-profile-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}

/* Fieldset */
fieldset {
  margin-bottom: 30px !important;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .complete-profile {
    padding: 128px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .complete-profile {
    padding: 128px 16px 48px;
  }
}
