
// MODAL

.modal-actions-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .create-view-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .fas {
      margin-right: 0.5em;
      font-size: 0.8em;
    }
    margin-right: 1em;
    font-size: 0.5em;
    color: #fff;
    background-color: #88171a;
    padding: 0.5em 1em;
    border-radius: 26px;
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: all 450ms;
    }
  }
}

.host-form-modal {
  margin-top: 0;
  text-align: left;

  .modal-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    font-weight: 600;
    .modal-heading {
      font-weight: 600;
    }
    .close-modal-button {
      cursor: pointer;
      color: #88171a;
      transition: all 350ms;
      &:hover {
        opacity: 0.8;
        transition: all 350ms;
      }
    }
  }

  .tab-row {
    margin-top: 2em;
  }
}

// END MODAL

.festival-card-links {
  text-decoration: none;
  color: #fff;
  transition: all 450ms;
  &:hover {
    color: #fff;
    opacity: 0.8;
    transition: all 450ms;
  }
}

.festival-details-cards.main-festival-card {
  flex: 0 30%;
}

.main-festival-card {
  -webkit-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  -moz-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  margin: 0.5em;
  padding: 0;
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #88171a;
  color: #fff;
  transition: all 450ms;
  &:hover {
    transform: scale(1.03);
    transition: all 450ms;
  }

  .fas {
    width: 20px;
  }

  .main-festival-info {
    z-index: 0;
    margin-top: -100px;
    padding: 1em;
    //@extend: 270px;
    // .festival-location {
    // }
    // .festival-date {
    // }
    // .festival-time {
    // }
    .festival-name {
      line-height: 1;
      font-size: 2.3em;
      font-weight: 600;
    }
    .festival-price {
      .price-stronger {
        font-size: 1.5em;
      }
    }
    .festival-info {
      display: flex;
      flex-direction: row;
      margin: 5px 0;
      justify-content: space-between;
      .fas {
        margin-right: 5px;
      }
    }
    .festival-description {
      p {
        color: rgb(223, 223, 223);
        line-height: 1.2;
      }
    }
  }

  .host-sponsor-vend {
    z-index: 1;
    padding: 0.5em 0.5em;
    margin: 0 auto;
    // width: 50%;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    font-weight: 600;
    a {
      color: #000;
      &:hover {
        color: #fff;
        transition: all 300ms;
      }
    }

    .host-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .sponsor-button-festival-card {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .vend-button {
      cursor: pointer;
      border-radius: 20px;
      padding: 0 1em;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
  }

  .edit-festival-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
  }

  .purchase-ticket-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 0.5em;
    transition: all 300ms;
    position: absolute;
    bottom: 0;   
    width: 100%;
    a {
      color: #fff;
    }
    &:hover {
      opacity: 0.5;
      transition: all 300ms;
    }
    .fas {
      margin-right: 0.5em;
    }
  }

  .festival-card-photo {
    width: 100%;
    height: 250px;
    position: relative;
    &::after {
      overflow: hidden;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(136, 23, 26);
      background: linear-gradient(
        0deg,
        rgba(136, 23, 26, 1) 24%,
        rgba(136, 23, 26, 0.2) 82%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    img {
      border-radius: 20px;
    }

    .days-remaining {
      top: 0px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }
    .checkbox-festival-payment {
      top: 0px;
      left: 0px;
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 10px;
      position: absolute;
      z-index: 1;
    }
  }
}

/* Festival card */
.festival-card {
  padding: 16px;
  text-align: center;
  word-break: break-word;
}

.modals {
  background-color: #fff;
  color: #000;
  left: 50%;
  margin: 80px 0px;
  padding: 20px 2px;
  position: absolute;
  text-align: center;
  transform: translate(-90%);
  width: 35%;
  word-break: break-word;
  z-index: 8;
}

/* Festival card buttons */
.festival-card-attend-button,
.festival-card-host-btn,
.festival-card-sponsor-btn {
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.festival-card-attend-button {
  background-color: #c04c2a;
}

.festival-card-host-btn {
  background-color: #88171a;
}

.festival-card-sponsor-btn {
  background-color: #48582d;
}

/* Festival card category */
.festival-card-category {
  padding: 0px 4px 0px 0px !important;
  text-align: left;
}

/* Festival card date (ending and upcoming) */
.festival-card-date-ending,
.festival-card-date-upcoming {
  font-size: 14px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 32px;
}

/* Festival card date (ending and upcoming) days */
.festival-card-date-ending-days,
.festival-card-date-upcoming-days {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 6px;
}

.festival-card-date-ending-days {
  background: #88171a;
}

.festival-card-date-upcoming-days {
  background-color: #48582d;
}

/* Festival card date (ending and upcoming) text */
.festival-card-date-ending-text,
.festival-card-date-upcoming-text {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 6px;
}

/* Festival card date (live) */
.festival-card-date-live {
  background-color: #fff;
  padding: 0px 6px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 24px;
}

/* Festival card details */
.festival-card-details {
  font-size: 13px;
  padding-bottom: 8px;
}

/* Festival card footer */
.festival-card-footer {
  background-color: rgba(249, 133, 55, 0.2);
  font-weight: 500;
  padding: 16px 8px;
  // position: absolute;
  // bottom: 0;   
  // width: 100%;
}

/* Festival card host checkbox content */
.festival-card-host-checkbox-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Festival card image */
.festival-card-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

/* Festival card link */
.festival-card-link {
  color: #000;
  margin-bottom: auto;

  &:hover {
    color: #000;
  }
}

/* Festival card location */
.festival-card-location {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}

/* Festival card location and time icons */
.festival-card-location-icon,
.festival-card-time-icon {
  color: #c04c2a;
}

/* Festival card price */
.festival-card-price {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}

/* Festival card text */
.festival-card-text {
  padding: 8px;
  text-align: left;
}

/* Festival card time */
.festival-card-time {
  padding: 0px 4px 0px 0px !important;
}

/* Festival card title */
.festival-card-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px;
}

/* Passport card section */
.passport-card-section {
  background-color: #fff;
  padding-bottom: 10px;
}

.passport-image__full-width {
  height: auto !important;
  width: 100% !important;
}

/* Food sample box */
.card-box {
  // border: 1px solid #ccc;
  // box-shadow: 5px 5px 10px #ccc;
  border: 3px solid blue;
  position: relative
}

.festival-subscription-payment {
  background-color: #88171a;
  position: absolute;
  top: 126px;
  left: 117px;
  width: 182px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.festival-subscription-title {
  font-weight: 700;
}

.festival-subscription-price {
  color: white;
}

.festival-card-footer-subscription {
  background-color: #88171a;
  font-weight: 500;
  color: white;
  padding: 16px 8px;
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-card {
    padding: 16px 0px;
  }
  

  .festival-card-date-ending,
  .festival-card-date-live,
  .festival-card-date-upcoming {
    right: 8px;
  }

  .festival-card-category,
  .festival-card-location,
  .festival-card-price,
  .festival-card-time {
    padding: 0px !important;
  }

  .festival-card-location,
  .festival-card-price {
    text-align: left;
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .festivals__explore-cards {
    display: flex;
    flex-direction: column;
  }
  .explore-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-see-more {
    button {
      width: 100%;
    }
  }

}

// between 480px - 780px
@media screen and (min-width: 375px) and (max-width: 780px) {
  .main-festival-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 770px) and (max-width: 999px) {
  .festival-details-cards.main-festival-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .festival-card {
    padding: 16px;
    text-align: center;
    word-break: break-word;
    position: relative;

  }

  .festivals__explore-cards.festivals-page__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: none;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .festival-details-cards.main-festival-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  .festivals__explore-cards.festivals-page__cards {
    display: flex;
    flex-direction: rwo;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .festival-card {
    padding: 16px;
    text-align: center;
    word-break: break-word;
    position: relative;

  }
}


.nav-vend-btn {
  border-radius: 26px;
  color: black;
  font-weight: 600;
  margin: 0px 12px;
  padding: 0.5em 1.5em;
  transition: all 450ms;

  &:hover {
    color: rgb(15, 1, 1);
    opacity: 0.8;
    cursor: pointer;
    text-decoration: none;
    transition: all 450ms;
  }
}

.align-vend-button{
    display: flex;
   justify-content: center;
}
