/* Multi-National Food Festival 2020 (Sep 1st to 30th) image */
.festival-img-bg-sep-2020 {
  background-image: url("../../assets/images/member-festival-admission.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 8px;
}

/* Multi-National Food Festival 2020 (Dec 1st to 31st) image */
.festival-img-bg-dec-2020 {
  background-image: url("../../assets/images/food-festival-passport-dec-2020.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 8px;
}

/* Multiple and Single-Entry Festival Passes */
.multiple-entry-festival-pass,
.single-entry-festival-pass {
  font-size: 20px;
  margin-top: 16px;
}

/* Passport pricing card */
.passport-pricing-card {
  padding: 16px !important;
}

/* Passport pricing card content */
.passport-pricing-card-content {
  background-color: #000;
  color: #fff;
}

/* Passport pricing content */
.passport-pricing-content {
  padding: 120px 80px 48px;
  text-align: center;
}

/* Passport pricing title */
.passport-pricing-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center !important;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .passport-pricing-content {
    padding: 120px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .passport-pricing-card {
    padding: 16px 0px !important;
  }
}
