/* About video */
.about-video {
  background-color: #f8f8f8;
  padding: 128px 80px;
}

/* About video learn button */
.about-video-learn-btn {
  background-color: #fdb917;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0px auto;
  padding: 18px 24px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

/* Banner footer */
.banner-footer {
  background-color: #000;
  padding: 64px;
}

.banner-footer-col {
  padding: 16px;
}

.banner-footer-coming-soon {
  color: #fff;
  font-weight: 300;
  margin-bottom: 8px;
}

.banner-footer-content {
  padding-bottom: 64px;
}

.banner-footer-icon {
  color: #c04c2a;
}

.banner-footer-link {
  color: #fff;
  font-weight: 300;
  margin-bottom: 8px;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.banner-footer-social-media {
  padding: 16px;
  text-align: center;
}

.banner-footer-social-media-link {
  padding: 0px 8px;
}

.banner-footer-title {
  color: #fff;
  font-weight: 500;
  margin: 8px 0px;
}

/* Banner section and value proposition */
.banner-section,
.value-proposition {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

/* Banner section and value proposition statement */
.banner-section-statement,
.value-proposition-statement {
  padding: 8px 32px;
}

/* Banner slide */
.banner-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.banner-slide::before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Copyright and privacy and terms */
.copyright,
.privacy-and-terms {
  color: #fff;
  font-weight: 300;
  margin: 8px 0px;
}

/* Discover banner image */
.discover-banner-image {
  background-image: url("../../assets/images/banner-discover.jpg");
}

/* Experience banner image */
.experience-banner-image {
  background-image: url("../../assets/images/banner-experience.jpg");
}

/* Landing page buttons */
.explore-btn,
.learn-about-our-mission-btn,
.learn-more-btn,
.taste-btn,
.watch-video-btn {
  color: #fff;
  font-weight: 500;
  padding: 12px 16px;
  text-align: center;
  width: 60%;

  &:hover {
    color: #fff;
  }
}

.explore-btn,
.learn-more-btn,
.taste-btn,
.watch-video-btn {
  background-color: #88171a;
}

.explore-btn,
.learn-more-btn,
.taste-btn {
  width: 30%;
}

/* Landing page button contents */
.explore-btn-content,
.learn-about-our-mission-btn-content,
.learn-more-btn-content,
.taste-btn-content,
.watch-video-btn-content {
  font-size: 16px;
  padding: 8px 32px !important;
}

/* FAQ */
.faq {
  background-color: transparent;
  border: none;
  bottom: 16px;
  color: #fdb917;
  position: fixed;
  right: 16px;

  &:hover {
    color: #fdb917;
    cursor: pointer;
    text-decoration: none;
  }
}

/* Festival banner down arrow and title */
.festival-banner-down-arrow,
.festival-banner-value-proposition {
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
}

.festival-banner-down-arrow {
  bottom: -4%;

  &:hover {
    cursor: pointer;
  }
}

.festival-banner-value-proposition {
  font-size: 40px;
  font-weight: 700;
  padding: 0px 80px;
  top: 50%;
}

/* Festival banner image */
.festival-banner-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(75%);
  height: 100vh;
  object-fit: cover;
  width: 100vw;
}

/* Festival banner apply to host and join buttons */
.festival-banner-add-your-restaurant-btn,
.festival-banner-join-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 16px;
  padding: 18px 24px;
  text-align: center;
  width: 300px;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.festival-banner-add-your-restaurant-btn {
  background-color: #fdb917;
}

.festival-banner-add-your-restaurant-btn-content {
  text-align: left;
}

.festival-banner-get-your-passport-btn {
  background-color: #1c2d55;
}

.festival-banner-get-your-passport-btn-content {
  text-align: left;
}

.festival-banner-join-btn {
  background-color: #1c2d55;
}

.festival-banner-join-btn-content {
  text-align: left;
}

.festival-banner-statement {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 8px;
}

/* Festival banner locations */
.festival-banner-hamilton {
  background-image: url("../../assets/images/banner-festival-hamilton.jpg");
}

.festival-banner-toronto {
  background-image: url("../../assets/images/landing-page.jpeg");
}

/* Join */
.join {
  background-color: #f8f8f8;
  padding: 128px 80px;
  text-align: center;
}

.join-btn {
  background-color: #1c2d55;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0px auto;
  padding: 18px 24px;
  width: 248px;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.join-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

/* Kodidi */
.kodidi-content {
  margin-bottom: 128px;
  text-align: center;
}

.kodidi-go-eat {
  background-color: #48582d;
  color: #fff;
  font-size: 24px;
  padding: 18px 24px;
  width: 242px;

  &:hover {
    color: #fff;
  }
}

.kodidi-intro {
  font-size: 24px;
  font-weight: 500;
}

.kodidi-statement {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Landing page buttons */
.landing-page-add-restaurant-btn,
.landing-page-btn-center,
.landing-page-btn-left,
.landing-page-btn-right,
.landing-page-get-started-btn,
.landing-page-host-btn {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  width: -moz-fit-content; /* Firefox */
  width: fit-content;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.landing-page-add-restaurant-btn {
  background-color: #000;
  padding: 18px 24px;
}

.landing-page-btn-center,
.landing-page-btn-left,
.landing-page-btn-right {
  background-color: #88171a;
  padding: 18px 24px;
}

.landing-page-btn-left-content {
  margin-top: 34px;
  text-align: right;
}

.landing-page-btn-right-content {
  text-align: left;
}

.landing-page-get-started-btn {
  background-color: #fdb917;
  padding: 18px 24px;
}

.landing-page-host-btn {
  background-color: #1c2d55;
  border-radius: 42px;
  padding: 18px 42px;
}

/* Landing page contents */
.landing-page-create-content,
.landing-page-culture-content,
.landing-page-customers-content {
  padding: 0px 24px !important;
}

/* Landing page images */
.landing-page-create-image,
.landing-page-culture-image,
.landing-page-customers-image {
  background-color: #fff;
  padding: 16px;
}

/* Landing page sections */
.landing-page-conclusion-section,
.landing-page-create-section,
.landing-page-culture-section,
.landing-page-customers-section {
  color: #000;
  padding: 128px 56px;
}

.landing-page-conclusion-section,
.landing-page-culture-section {
  background-color: #f8f8f8;
}

/* Landing page sub-titles */
.landing-page-sub-title-center,
.landing-page-sub-title-left,
.landing-page-sub-title-right {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}

.landing-page-sub-title-center {
  text-align: center;
}

.landing-page-sub-title-left {
  text-align: right;
}

.landing-page-sub-title-right {
  text-align: left;
}

/* Learn About Our Mission button */
.learn-about-our-mission-btn {
  background-color: #1c2d55;
}

/* Learn About Our Mission content */
.learn-about-our-mission-btn-content {
  text-align: left;
}

/* Main banner image */
.main-banner-image {
  background-image: url("../../assets/images/banner-main.jpg");
}

/* Modal video close button */
.modal-video-close-btn {
  display: none;
}

/* Our products */
.our-products {
  padding: 128px 80px;
}

.our-products-content,
.our-products-content-alternate {
  padding: 0px 48px !important;
}

.our-products-content-alternate {
  text-align: right;
}

.our-products-image {
  border-radius: 50%;
  height: 320px;
  object-fit: cover;
  width: 320px;
}

.our-products-learn-more {
  background-color: #fdb917;
  color: #fff;
  font-size: 24px;
  padding: 18px 24px;
  text-align: center;
  width: 242px;

  &:hover {
    color: #fff;
  }
}

.our-products-section {
  margin-bottom: 128px;
}

.our-products-statement {
  font-size: 24px;
  margin-bottom: 24px;
}

.our-products-sub-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
  text-align: center;
}

.our-products-title {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 80px;
  text-align: center;
}

/* Passport banner image */
.passport-banner-image {
  background-image: url("../../assets/images/banner-passport.jpg");
}

/* Privacy and terms */
.privacy,
.terms {
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

/* React player */
.react-player {
  height: 468px !important;
  margin: 0px auto;
  width: 832px !important;
}

.react-player-content {
  background-color: #000;
}

/* Tasttlig festival get started button */
.tasttlig-festival-get-started-btn {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 18px 24px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

/* Watch Video button content */
.watch-video-btn-content {
  text-align: right;
}

.tasttlig-instagram,
.tasttlig-instagram:hover {
  color: #fff;
}

.banner-btn {
  font-size: 16px;
  padding: 16px 32px;
  width: 100%;

  &:hover {
    color: #fff;
  }
}

.banner-btn-content {
  padding: 0px;
}

.become-a-food-provider-btn-content,
.get-a-passport-btn-content {
  padding: 0px 0px 16px 0px !important;
}

.video-btn-content {
  padding: 0px 16px;
}

.footer-content,
.footer-information {
  padding: 0px !important;
}

.Footer-links {
  color: #fff;
}

.contact-authority a {
  color: #fff;
  margin-left: 2%;
}

.guest {
  color: #800080;
}

.listen {
  width: 185px;
  margin-top: -5%;
  border: 1px solid #000;
  padding: 2%;
  float: right;
  background-color: #ff2d55;
}

.listen a {
  color: #fff;
}

.main-banner-area {
  padding: 16px !important;
}

.read-more-btn-content {
  padding: 0px !important;
}

.view-host-button {
  width: 240px;
  border: 1px solid #000;
  padding: 2%;
  float: right;
  background-color: #ff2d55;
  color: #fff;
  right: 50%;
  margin-left: 40%;
}

.section-title .btn {
  top: 70%;
}

.become-host {
  margin-top: 1%;
  border: none;
  width: 185px;
  padding: 10px;
  left: 50%;
  background-color: #ff2d55;
}

.become-host a {
  color: #fff;
}

.why-choose-us {
  background-image: url("../../assets/images/balloons.jpg");
  position: unset;
}

.why-choose-us::before {
  position: unset;
}

.logo {
  max-width: 40%;
}

.italian-image {
  height: 250px;
}

.item-bg2 {
  background-image: url("../../assets/images/balloons.jpg");
}

.item-bg5 {
  background-image: url("../../assets/images/balloons.jpg");
}

.buy-tickets-area {
  background-image: url("../../assets/images/people.jpg");
}

.funfacts-area {
  background-image: url("../../assets/images/woman.jpg");
}

.elkevent-nav {
  padding-top: 0px;
}

.map {
  height: 290px;
  margin: 30px 0px;
  width: 100%;
}

.price-image {
  border-radius: 50%;
}

.item-bg3 {
  background-image: url("../../assets/images/balloons.jpg");
}

.blog-detail-image {
  margin-left: 20%;
  margin-bottom: 3%;
}

.search-form {
  width: 80%;
  margin-left: 5%;
}

/*hide the inputs/checkmarks and submenu*/
input#check01,
ul.submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
  display: block;
}

.dropdown-Blog {
  margin-left: 5%;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.slide-container {
  width: 40%;
  margin-left: 10%;
}

.navbar-nav {
  margin-left: 0px !important;
}

.Buy-ticket {
  float: left;
}

#navbarSupportedContent {
  margin-top: 1%;
}

.single-footer-widget .social-links li a {
  height: 56px;
}

.single-blog-post .blog-image a img {
  height: 200px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .about-video,
  .join,
  .our-products {
    padding: 128px 16px;
  }

  .banner-footer {
    padding: 64px 0px;
  }

  .banner-section,
  .value-proposition {
    font-size: 24px;
  }

  .festival-banner-join-btn {
    font-size: 16px !important;
    margin: 12px 0px !important;
    padding: 12px 16px !important;
    width: 210px !important;
  }

  .festival-banner-statement {
    font-size: 24px;
  }

  .festival-banner-value-proposition {
    font-size: 28px !important;
    padding: 0px 16px !important;
  }

  .footer-area {
    padding: 60px 16px !important;
  }

  .join-title {
    font-size: 32px;
  }

  .landing-page-btn-content {
    text-align: center;
  }

  .landing-page-btn-left-content,
  .landing-page-btn-right-content {
    text-align: center;
  }

  .landing-page-conclusion-section,
  .landing-page-create-section,
  .landing-page-culture-section,
  .landing-page-customers-section {
    padding: 128px 16px;
  }

  .landing-page-create-content,
  .landing-page-culture-content,
  .landing-page-customers-content {
    padding: 0px !important;
  }

  .landing-page-create-image,
  .landing-page-culture-image,
  .landing-page-customers-image {
    margin-bottom: 16px;
  }

  .landing-page-sub-title-center,
  .landing-page-sub-title-left,
  .landing-page-sub-title-right {
    font-size: 32px;
    text-align: center;
  }

  .learn-about-our-mission-btn,
  .watch-video-btn {
    width: 100%;
  }

  .our-products-content,
  .our-products-content-alternate {
    padding: 0px !important;
  }

  .our-products-image {
    height: 248px;
    margin-bottom: 24px;
    width: 248px;
  }

  .our-products-learn-more-content,
  .our-products-statement {
    text-align: center;
  }

  .our-products-title {
    font-size: 32px;
  }

  .map {
    margin: 0px 0px 30px;
  }

  .react-player {
    width: 100% !important;
  }

  .slide-container {
    display: none;
  }

  .social-connection-title {
    padding-top: 48px;
  }

  .tasttlig-festival-get-started-btn {
    font-size: 16px;
    padding: 12px 16px;
  }

  .tasttlig-passport-btn {
    font-size: 32px;
  }

  .video-btn-content {
    padding: 16px 0px;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .explore-btn,
  .learn-more-btn,
  .taste-btn {
    width: 100%;
  }

  .festival-banner-add-your-restaurant-btn-content,
  .festival-banner-get-your-passport-btn-content,
  .festival-banner-join-btn-content {
    text-align: center !important;
  }
}
