.UserInfo {
    background-color: red;
    font-size: large;
  }
  
  .user-background-image-one {
    background-image: url("../../assets/images/column-one-image.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    height: 120vh;
    opacity: 0.2;
  }

  .user-background-image-two {
    background-image: url("../../assets/images/column-three-image.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    height: 120vh;
    opacity: 0.2;
  }

  .passport-confirmation-image {
    // background-image: url("../../assets/images/check-mark.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 1000px;
    max-height: 1000px;
    display: block; 
    //margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    float: center;
    //padding-left: 100px;
    //border-radius: inherit;
  
    // height: 60vh;
  }
  
  .tasttlig-image {
    //background-image: url("../../assets/images/tasttlig-logo-black.png");
    // background-position: relative;
    background-position: right;
    background-repeat: no-repeat;
    background-size: small;
    align-items: center;
    height: 20vh;
    width: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .heading-content {
    color: #000;
    font-size: large;
    font-weight: bold;
    // padding: 96px 24px 24px;
    // padding-bottom: 50px;
    text-align: left;
    padding-left: initial;
  }
  
  .passport-success1 {
    color: #000;
    font-size: large;
    font-weight: bold;
    // padding: 96px 24px 24px;
    // padding-bottom: 50px;
    text-align: center;
    padding-left: initial;
    padding-bottom: 20px;
  }
  
  .passport-success2 {
    color: #000;
    font-size: large;
    font-weight: bold;
    // padding: 96px 24px 24px;
    // padding-bottom: 50px;
    text-align: center;
    padding-left: initial;
    padding-bottom: 20px;
  }
  
  
  
  .input-style-4 {
    float: center;
  }
  
  .input-style-5 {
    // padding-right: 15px;
    //padding-top: 30px;
    //padding-left: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: large;
    // padding-right: 15px;
    width: 275px;
  }

  .logos-styling{
      flex: inherit;
  }

  .logos-styling1{
    padding-left: 40px;
}




  