.UserInfo {
  background-color: red;
  font-size: large;
}

.user-column1 {
  background-image: url("../../assets/images/column-one-image.jpg");
  background-position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  height: 108vh;
}

.tasttlig-image {
  //background-image: url("../../assets/images/tasttlig-logo-black.png");
  // background-position: relative;
  background-position: right;
  background-repeat: no-repeat;
  background-size: small;
  align-items: center;
  height: 20vh;
  width: 30vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.check-mark-image {
  // background-image: url("../../assets/images/check-mark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 400px;
  max-height: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;

  // height: 60vh;
}

.heading-content {
  color: #000;
  font-size: large;
  font-weight: bold;
  // padding: 96px 24px 24px;
  // padding-bottom: 50px;
  text-align: left;
  padding-left: initial;
}

.passport-success1 {
  color: #000;
  font-size: large;
  font-weight: bold;
  // padding: 96px 24px 24px;
  // padding-bottom: 50px;
  text-align: center;
  padding-left: initial;
  padding-bottom: 20px;
}

.passport-success2 {
  color: #000;
  font-size: large;
  font-weight: bold;
  // padding: 96px 24px 24px;
  // padding-bottom: 50px;
  text-align: center;
  padding-left: initial;
  padding-bottom: 20px;
}

.heading-moreInfo {
  color: #000;
  font-size: large;
  font-weight: bold;
  // padding-top: 20px;
  // padding: 10px 24px 24px;
  text-align: left;
  padding-left: initial;
  // padding-bottom: 130px;
}

.heading-caption {
  color: #000;
  font-size: small;
  font-weight: normal;
  font: small-caption;
  // padding: 96px 48px 24px;
  padding-bottom: 45px;
  padding-left: initial;
}

.gender-heading {
  color: #000;
  font-size: small;
  font-weight: normal;
  font: small-caption;
  padding: 96px 48px 24px;

  padding-left: initial;
}

.checkbox-preference {
  padding: 10px 10px 10px 10px;
  float: left;
  min-width: 20px;
}

.checkbox-text {
  padding: 10px 10px 10px 10px;
  min-width: 10px;
}

.checkbox-title {
  padding: 10px 0px 10px 10px;
  min-width: 10px;
}

.input-style {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  min-width: 260px;
  padding-bottom: 15px;
  // padding: 10px 30px 10px 0px;
}

.input-style-first-row {
  display: flex;
  padding-right: 10px;
  //padding-left: 15px;
  min-width: 260px;
  padding-bottom: 15px;
  // padding: 10px 30px 10px 0px;
}

.input-style-2 {
  display: flex;
  // padding-right: 15px;
  //padding-left: 15px;
  padding-bottom: 10px;
  // padding-right: 15px;
  min-width: 260px;
  border-radius: 10px;
}

.input-style-3 {
  //display: flex;
  min-width: 260px;
  padding-left: 25px;
}

.input-style-4 {
  //display: flex;
  float: right;
  padding-bottom: 20px;
}

.formGridStyle {
  border: 1px solid #ccc;
    border-radius: 10px;
    height: 50px;
    padding: 12px;
    transition: 0.5s;
}



.mapsStyle {
  border-radius: 15px;
  min-width: -webkit-fill-available;
}
.input-style-5 {
  //display: flex;
  // padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  // padding-right: 15px;
  width: 275px;
}

.email-userInfo{
  border-radius: 10px 10px;
}

.css-g1d714-ValueContainer{
  font-weight: normal;
    font-size: large;
}

.custom-select festivals-filter-location{
  font-size: large;
}

.custom-select-dropdown{
  border-radius: 10px;
}

.form-row{
  display: flex;
  justify-content: flex-start;
  
}



.login-content1{
  color: #000;
  padding: 6px 24px 24px;
}


.css-yk16xz-control, .css-1pahdxg-control {
  border-radius: 10px !important;
  font-size: 14px;
  min-height: 50px !important;
  padding-left: 30px;
}


