.modal-heading1{
    font-weight: 600;
    font-family: "PT Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 20px;
}


.custom-select1 {
    width: 100%;
    border-radius: 10px 10px;
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 40px;
    height: 50px !important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
  }