.service-images {
  width: 100%;
}

.edit-service-container {
  .edit-heading-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .edit-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #88171a;
    padding: 1em;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: all 300ms;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: all 300ms;
    }
  }

  .edit-heading-title {
    font-size: 2em;
    font-weight: 600;
  }

  form {
    width: 100% !important;
  }
}
