.vendor-details-title {
  font-size: 55px;
  font-weight: 800;
}

.title-subtitle-container {
  border-bottom: 2px solid #6B6B6B;
  padding-bottom: 30px;
}
.title-subtitle-pas-container {
  border-bottom: 2px solid #6B6B6B;
  padding-bottom: 30px;
  padding-left: 0px;
}

.vendor-details-button {
  background-color: #88171a;
  color: white;
  border-radius: 10px;
  padding: 5px;
  width: 175px;
  height: 46px;
  margin-top: 70px;
  margin-left: 30px;
}


.vending-plan-form{
  margin-bottom: 30px;
}

.vendor-dropdown {
  padding-top: 50px;
}

.product-service-dropdown {
  width: 292.5px;
  margin-left: 10px;
}

.vendor-plan-container {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.vendor-plan-line {
  border-top: 3px solid maroon
}

.vend-circle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.vend-empty-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.vendor-plans-subtitle {
  padding-bottom: 50px;
}

.vendor-price-container {
  display: flex;
  align-items: center;
}

.vendor-subscription-details-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  border-right: 1px solid grey;
}

.vendor-subscription-plan {
  height: 200px;
  border: 1px solid grey;
}

.vendor-subscription-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dead-row {
  height: 20px;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.dead-row-column {
  border-right: 1px solid grey;
}

/* .vendor-background-image {
  max-width: 100%;
  height: 100%;
  position: absolute;
} */

.left-side-vendor {
  background: url("../../assets/images/background-vendor-image.png") no-repeat center, url("../../assets/images/background-vendor-girl-image.png") no-repeat center; 
  background-size: cover;
  min-height: 100vh;
  padding-left: 0px;
}

.vending-and-plan-festivals {
  justify-content: center;
}

/*  .vendor-background-girl-image {
  height: 100%;
} */

.tasttlig-logo-vendor {
  width: 272px;
  border-right: 10px solid maroon;
  cursor: pointer;
} 

.tasttlig-vendor-title {
  display: flex;
  align-items: center;
  color: maroon;
  padding-left: 20px;
  font-size: xx-large;
  cursor: pointer;
}

.vendor-tasttlig-container {
  padding-top: 40px;
  padding-left: 54px;
}

.vendor-line-container {
  padding-top: 150px;
}

.vendor-line {
  border-right: 5px solid white;
  height: 750px;
}

.circle {
  position: relative; 
  border: 2px solid #999; 
  border-radius: 100%; 
  width: 50px; 
  line-height: 50px; 
  text-align: center; 
  margin-top: 50px; 
  background-color: #fff; 
  z-index: 2;}

.circle:first-child {
  margin-top: 0;
}
.circle:before {
  position: absolute; 
  border: 1px solid #999; 
  width: 0; 
  height: 50px; 
  display: block; 
  content: ''; 
  left: 50%; 
  z-index: 1; 
  top: -54px; 
  margin-left: -1px;}
.circle:first-child:before {
  display: none;
}

.vendor-profile-name-picture-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cut-off-vendor-image-container {
  height: 600px;
  margin-top: 100px;
  overflow: hidden;
}

.cut-off-vendor-image {
  margin-left: 450px;
  min-height: 100%;
  min-width: 100%;
}



