/* Add to Cart, Buy Now, Checkout and Pay buttons */
.add-to-cart-btn,
.buy-now-btn,
.checkout-btn,
.pay-btn {
  border: none;
  color: #fff;
  font-weight: 500;
  height: 48px;
  padding: 12px 24px;
  text-align: center;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
}

.add-to-cart-btn {
  background-color: #1c2d55;
}

.buy-now-btn,
.checkout-btn {
  background-color: #88171a;
}

.pay-btn {
  background-color: #007bff;
}

/* Arrow */
.arrow {
  color: #707070;
}

/* Bold input title */
.bold-input-title {
  font-weight: 700;
  margin-bottom: 8px;
}

/* Button */
button:focus {
  outline: none;
}

/* Call-to-action, and edit buttons */
.call-to-action-btn,
.edit-btn {
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.call-to-action-btn {
  background-color: #88171a;
}

.edit-btn {
  background-color: #343a40;
}

/* Membership and pending buttons */
.business-advanced-member-btn,
.business-basic-member-btn,
.business-intermediate-member-btn,
.business-pro-member-btn,
.pending-btn {
  border: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;

  &:hover {
    cursor: default;
  }
}

.business-advanced-member-btn,
.business-pro-member-btn {
  background-color: #1c2d55;
}

.business-basic-member-btn {
  background-color: #48582d;
}

.business-intermediate-member-btn {
  background-color: #88171a;
}

.pending-btn {
  background-color: #707070;
}

/* Card title */
.card-title {
  font-size: 20px;
}

/* Check email verified and Food Handler Certificate */
.check {
  color: #1c2d55;
}

/* Create user link */
.create-user-link {
  color: #ff0000;

  &:hover {
    color: #ff0000;
    text-decoration: underline;
  }
}

/* Restaurant finder */
.css-yk16xz-control {
  background-color: transparent !important;
  margin-bottom: 16px;
}

.css-yk16xz-control,
.css-1pahdxg-control {
  border-radius: 10px !important;
  font-size: 14px;
  min-height: 50px !important;
  padding-left: 30px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

/* Current festival link */
.current-festival-link {
  background-color: #1c2d55;
  color: #fff;
  font-weight: 500;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    color: #fff;
  }
}

.current-festival-link-content {
  margin-bottom: 16px;
  text-align: center;
}

/* Dropdown */
.custom-select {
  border-radius: 10px;
  height: 50px !important;

  &:hover {
    cursor: pointer;
  }
}

/* Dashboard link */
.dashboard-link {
  color: #1c2d55;

  &:hover {
    color: #1c2d55;
    text-decoration: underline;
  }
}

/* Input field error message */
.error-message {
  color: #ff0000;
  margin-top: 4px;
  text-align: left;
}

/* External link */
.external-link {
  color: #000;

  &:hover {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Social media */
.facebook,
.instagram,
.linkedin,
.twitter,
.website,
.twitter,
.youtube {
  border: 1px solid #ccc;
  font-family: "Poppins", Arial, sans-serif !important;
  padding: 12px 44px 12px 12px;
  width: 100%;
}

/* Faded line */
.fade-rule {
  height: 2px;
  background-color: #e6e6e6;
  margin: 0px auto 48px;
  background-image: linear-gradient(to right, white 2%, #e6e6e6 50%, white 98%);
}

/* File upload */
.file-upload {
  border: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 0px;
  padding: 12px;
}

/* File upload successful */
.file-upload-successful {
  color: #008000;
  margin-top: 4px;
}

/* Filter content */
.filter-content {
  border-right: 1px solid #ccc;
  margin: 16px 0px;
  padding: 0px 16px !important;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 100%;
}

/* Has this item */
.has-this-item {
  padding-top: 8px;
  text-align: center;
}

/* Hide input */
.hide-input {
  display: none;
}

/* Input title */
.input-title {
  margin-bottom: 8px;
}

/* Hide default file input */
input[type="file"] {
  display: none;
}

/* Invalid message */
.invalid-message {
  color: #ff0000;
}

/* Join now hover */
.join-now:hover {
  cursor: pointer;
}

/* Loading image */
.loading-image {
  visibility: hidden;
}

/* Carousel button */
.nav {
  z-index: 1 !important;
}

/* No experiences, festivals, food samples, menu items and restaurants found */
.no-experiences-found,
.no-festivals-found,
.no-food-samples-found,
.no-menu-items-found,
.no-restaurants-found {
  padding: 16px 0px 0px 16px;
}

/* PDF file preview */
.pdf-file-preview {
  border: 1px solid #ccc;
  height: 200px;
  vertical-align: top;
  width: 100%;
}

/* React datepicker */
.react-datepicker-wrapper {
  width: 100%;
}

/* Remove default row styling */
.row {
  margin: 0px !important;
}

/* Secure checkout */
.secure-checkout {
  background-color: transparent;
  border: none;
  color: #707070;
  padding: 0px;
  text-align: center;
  width: 100%;
}

/* Separate */
.separate {
  margin: 0px 12px;
}

/* Skip link */
.skip-link {
  color: #1c2d55;
  font-weight: 500;

  &:hover {
    color: #1c2d55;
    text-decoration: underline;
  }
}

/* Video file preview */
.video-file-preview {
  border: 1px solid #ccc;
  vertical-align: top;
  width: 50%;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .filter-content {
    border-right: none;
    margin: 0px 0px 16px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .current-festival-link-content {
    padding: 0px !important;
  }

  .filter-content {
    padding: 0px !important;
  }

  .has-this-item {
    text-align: left;
  }

  .no-experiences-found,
  .no-festivals-found,
  .no-food-samples-found,
  .no-menu-items-found,
  .no-restaurants-found {
    padding: 16px 0px 0px 0px;
  }
}
