/* Buy Passport button */
.buy-passport-btn {
  background-color: #88171a;
  color: #fff;
  font-weight: 500;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

/* More Passport options */
.more-passport-options {
  background-color: #48582d;
  border-radius: 24px;
  color: #fff !important;
  padding: 12px 24px;
  position: absolute;
  right: 80px;
  top: 96px;

  &:hover {
    cursor: pointer;
  }
}

/* Passport banner */
.passport-banner {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  padding: 160px 80px 80px !important;
  text-align: center;
}

/* Passport banner statement */
.passport-banner-statement {
  margin: 0px auto;
  width: 60%;
}

/* Passport benefits */
.passport-benefits {
  padding: 80px 0px;
}

/* Passport check */
.passport-check {
  color: #48582d;
}

/* Passport subscription name */
.passport-subscription-name {
  background-color: #48582d;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 24px;
}

/* Passport subscription options */
.passport-subscription-options {
  padding: 80px 0px 32px;
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .more-passport-options-responsive {
    display: none;
  }

  .passport-subscription-text {
    min-height: 604px;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .more-passport-options {
    display: none;
  }

  .more-passport-options-responsive {
    background-color: #48582d;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    bottom: 0px;
    color: #fff !important;
    left: 0px;
    padding: 12px 16px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }
  }

  .passport-banner {
    padding: 128px 16px 48px !important;
  }

  .passport-banner-statement {
    font-size: 32px;
    width: 100%;
  }

  .passport-benefits {
    padding: 48px 0px 36px;
  }

  .passport-subscription-options {
    padding: 48px 0px 0px;
  }
}
