/* Become a Host */
.become-a-host {
  // padding: 120px 25% 48px;
  padding-top: 10%;
  padding-right: 25%;
  background-color: #fff;
  padding-left: 0%;

}


.do-you-have-a-restaurant-yes1 {
  margin-top: 1rem;
  margin-bottom: 2rem;

}
.do-you-have-a-restaurant-no1 {
  padding: 0px 0px 0px 16px !important;
  padding-right: 1rem;
}

.do-you-have-a-restaurant-no1-btn {
  border: 4px solid rgb(165, 105, 105);
  margin-bottom: 16px;
  padding: 8px 12px;
  width: 7rem;

  &:hover {
    cursor: pointer;
    background-color: #88171A; 
    color: white;
  }
}

.do-you-have-a-restaurant-yes1-btn {
  // border: 4px solid red;
  color: white;
  background-color: #88171A;
  margin-bottom: 16px;

  padding: 8px 12px;
  
  width: 7rem;

  &:hover {
    cursor: pointer;
    background-color: #88171A; 
    color: white;
  }
}
/* Become a Host description */
.become-a-host-description {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}
.mb-3 {
  width: 100% ;
  background-position: left;
  background-size: contain;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 0%;
  position: relative;
}


.submit-button {
  background-color: rgb(206, 81, 81);
  margin-bottom: 16px;
  height: 3rem;
 border-radius: 12px;
  color: white;
  font-size: 20px;
  // padding: 8px 12px;
  
  width: 9rem;

  &:hover {
    cursor: pointer;
    background-color: rgb(236, 42, 42); /* Green */
    color: white;
  }
}

.create-button {
  
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  width: 100%;
  display:flex;
  margin-top: 4rem;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
  
}
.sign-up-background-image-one {
  background-image: url("../../../assets/images/column-one-image.jpg");
  background-position: left;
  background-repeat: no-repeat;
  // background-size: contain;
  height: 108vh;
  width: auto;
  position: relative;
}
.sign-up-background-image-two {
  background-image: url("../../../assets/images/column-three-image.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30vh 90vh;
  height: 108vh;
  position: relative;
}

/* Become a Host title */
.become-a-host-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .become-a-host {
    padding: 120px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .become-a-host {
    padding: 120px 16px 48px;
  }
}
