/* Contact and experience details modal */
.contact-modal,
.experience-details-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
}

/* Experience card */
.experience-card {
  padding: 16px;
  text-align: center;
  word-break: break-word;
}

/* Experience card business name */
.experience-card-business-name {
  margin-bottom: 4px;
  padding: 0px 10px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Experience card content */
.experience-card-content {
  margin-bottom: 8px;

  &:hover {
    cursor: pointer;
  }
}

/* Experiences card image */
.experience-card-image {
  height: 300px;
  object-fit: cover;
  padding: 10px;
  width: 300px;
}

/* Experience card text */
.experience-card-text {
  padding: 0px 10px 10px;
}

/* Experience card title */
.experience-card-title {
  color: #000;
  font-weight: 700;
  padding: 0px 10px 10px;
}

/* Experience details contact button */
.experience-details-contact-btn {
  background-color: #000;
  color: #fff;
  font-weight: 500;
  height: 50px;
  padding: 12px 24px;
  text-align: center;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

/* Experience details description */
.experience-details-description {
  padding-top: 32px;
}

/* Experience details image */
.experience-details-image {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
  height: auto;
  padding: 10px;
  width: 100%;
}

/* Experience details link */
.experience-details-link,
.experience-details-link:hover {
  color: #000;
}

/* Experience details title */
.experience-details-sub-title {
  font-weight: 700;
}

.experience-details-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: left;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .contact-modal,
  .experience-details-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .contact-modal,
  .experience-details-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }

  .experience-card {
    padding: 16px 0px;
  }
}
