/* Backdrop in toggle */
.backdrop {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .backdrop {
    display: none;
  }
}
