/* Coming soon page */
.coming-soon-page {
  color: #000;
  min-height: 100vh;
  padding-top: 80px;
  text-align: center;
  width: 100%;
  word-break: break-word;
}

/* Coming soon page sections */
.coming-soon-page-business-services,
.coming-soon-page-visitors,
.coming-soon-page-welcome {
  padding: 80px;
}

.coming-soon-page-welcome {
  background-color: #f8f8f8;
}

/* Coming soon page image */
.coming-soon-page-image {
  height: auto;
  width: 100%;
}

/* Coming soon page sign up button */
.coming-soon-page-sign-up-btn {
  background-color: #88171a;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  margin-top: 40px;
  padding: 24px 32px;

  &:hover {
    color: #fff;
  }
}

/* Coming soon page sub-title */
.coming-soon-page-sub-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .coming-soon-page-business-services,
  .coming-soon-page-visitors,
  .coming-soon-page-welcome {
    padding: 80px 32px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .coming-soon-page-business-services,
  .coming-soon-page-visitors,
  .coming-soon-page-welcome {
    padding: 48px 16px;
  }

  .coming-soon-page-sign-up-btn {
    font-size: 24px;
    margin-top: 32px;
    padding: 18px 24px;
  }

  .coming-soon-page-sub-title {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
