// primary button

.festivals-button-primary {
  padding: 0.5em 1em;
  background-color: #000;
  border-radius: 40px;
  border: none;
  color: #fff;
  transition: all 450ms;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }
}

.clear-btn {
  color: #fff;
  margin-left: 0.5em;
  font-weight: 600;
  background-color: #000;
  border: none;
  border-radius: 26px;
  padding: 0.5em 1em;
}

/* Festivals banner */

.row.festival-filter-row {
  width: 100%;

  input {
    transition: all 450ms;
    &:hover {
      border: 1px solid #88171a;
      transition: all 450ms;
    }
  }

  select {
    border-radius: 40px;
    padding: 2em;
    height: 44px;
    -webkit-appearance: none;
    transition: all 450ms;
    &:hover {
      border: 1px solid #88171a;
      transition: all 450ms;
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.festival-page__header {
  height: 50vh;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/header-photo.png);
  z-index: -9999;
}

.festivals-banner {
  background-image: url('../../assets/images/festivals-page-banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  width: 100%;
}

.festivals-banner::before {
  background-color: #000;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Festivals banner title */
.festivals-banner-title {
  background-color: rgba(249, 133, 55, 0.63);
  // background-color: #88171a;
  // opacity: 0.4;
  color: #070707;
  font-weight: bolder;
  font-size: xx-large;
  margin: 48px 0px 0px;
  padding: 32px;
}

/* Festivals banner value proposition */
.festivals-banner-value-proposition {
  left: 50%;
  padding: 0px 80px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* Festivals filter content */
.festivals-filter-content {
  padding: 0px 16px !important;
}

/* Festivals filter (day, location and time) */
.festivals-filter-date,
.festivals-filter-location,
.festivals-filter-time {
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 1em !important;

  &:focus {
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Festivals filter icons */
.festivals-filter-day-icon,
.festivals-filter-location-icon,
.festivals-filter-search-icon,
.festivals-filter-time-icon {
  color: #88171a !important;
  left: 87.5% !important;
  position: absolute !important;
  top: 25% !important;
}

/* Festivals filter name */
.festivals-filter-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Festivals page */
.festivals-page {
  margin: 100px 0;
  color: #000;
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  word-break: break-word;
}

/* Festivals page cards */
.festivals-page-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Festivals sub-title */
.festivals-sub-title {
  color: #000;
  margin: 32px 16px;
}

/* Festival filters */
.festivals-all-filters {
  justify-content: space-between;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festivals-banner-title {
    font-size: 32px;
    padding: 16px;
  }

  .festivals-banner-value-proposition {
    padding: 0px 32px;
  }

  .festivals-sub-title {
    font-size: 32px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festivals-banner-title {
    font-size: 24px;
    padding: 16px;
  }

  .festivals-banner-value-proposition {
    padding: 0px 16px;
    width: 100%;
  }

  .festivals-filter-content {
    padding: 0px !important;
  }

  .festivals-filter-day-icon,
  .festivals-filter-location-icon,
  .festivals-filter-search-icon,
  .festivals-filter-time-icon {
    left: 13px;
  }

  .festivals-sub-title {
    font-size: 24px;
    margin: 32px 0px;
  }
}
