.ticket-container {
padding: 2rem;

}

.ticket-table {
  margin: 0 auto;
  margin-bottom: 2em;
}

.ticket-row {
  display: flex;
  flex-direction: column;
  
}

.ticket-sub-image {
  text-decoration: underline;
}
.ticket-sub-title {
  color: #88171A;
}

.ticket-table-head {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  justify-content: space-between;

  .ticket-icon {
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: all 450ms;
    }
  }
}
