/* Festival card */
.restaurant-name-link {
  color: #000;
  &:hover {
    color: #88171a;
    transition: all 450ms;
  }
}

.restaurant-link-click {
  color: #fff;
  &:hover {
    color: #fff
  }
}

.festival-card-restaurant {
  padding: 16px;
  text-align: center;
  word-break: break-word;
  // width: 100%;
  // max-width: 100%;
}

/* Festival card buttons */
.festival-card-attend-btn,
.festival-card-buy-btn,
.festival-card-free-btn,
.festival-card-sponsor-btn {
  border-radius: 12px;
  color: #fff;
  padding: 12px;
  text-align: center;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.festival-card-button-section {
  justify-content: space-between;
}

.festival-card-buy-btn {
  background-color: #48582d;
}

.festival-card-free-btn {
  background-color: #88171a;
}

.festival-card-sponsor-btn {
  background-color: #48582d;
}

/* Festival card category */
.festival-card-category {
  padding: 0px 4px 0px 0px !important;
  text-align: left;
}

/* Festival card date (ending and upcoming) */
.festival-card-date-ending,
.festival-card-date-upcoming {
  font-size: 14px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 32px;
}

/* Festival card date (ending and upcoming) days */
.festival-card-date-ending-days,
.festival-card-date-upcoming-days {
  color: #fff;
  padding: 6px;
}

.festival-card-date-ending-days {
  background: #88171a;
}

.festival-card-date-upcoming-days {
  background-color: #48582d;
}

/* Festival card date (ending and upcoming) text */
.festival-card-date-ending-text,
.festival-card-date-upcoming-text {
  background-color: #fff;
  padding: 6px;
}

/* Festival card date (live) */
.festival-card-date-live {
  background-color: #fff;
  padding: 0px 6px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 24px;
}

/* Festival card details */
.festival-card-details {
  font-size: 13px;
  padding-bottom: 8px;
}

/* Festival card footer */
.festival-card-footer {
  background-color: rgba(249, 133, 55, 0.2);
  font-weight: 500;
  padding: 16px 8px;
}

/* Festival card image */
.restaurant-card-image {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

/* Festival card location */
.festival-card-location {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}
.restaurant-card {
  padding: 16px !important;
}
/* Festival card location and time icons */
.festival-card-location-icon,
.festival-card-time-icon {
  color: #c04c2a;
}

/* Festival card price */
.festival-card-price {
  padding: 0px 0px 0px 4px !important;
  text-align: right;
}

/* Festival card text */
.festival-card-text {
  padding: 8px;
  text-align: left;
}

/* Festival card time */
.festival-card-time {
  padding: 0px 4px 0px 0px !important;
}

/* Festival card title */
.restaurant-card-title {
  font-weight: 500;
}
.restaurant-card-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
/* Passport card section */
.passport-card-section {
  background-color: #fff;
  padding-bottom: 10px;
}

.passport-image__full-width {
  height: auto !important;
  width: 100% !important;
}

/* Food sample box */
.card-box {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
}

.restaurant-information {
  display: flex;
  padding: 8px;
}
.restaurant-logo {
  border-radius: 50%;
  margin-right: 16px;
  width: 48px;
  height: 48px;
}

.restaurant-card-body {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
}

.restaurant-name {
  font-weight: 300;
  text-align: left;
}
.restaurant-link-name {
  color: black;
  font-weight: 300;
}
.restaurant-address {
  color: #707070;
  font-size: 14px;
}
.festivals-filter-location-icon {
  color: #c04c2a;
  left: 29px;
  position: absolute;
  top: 46px;
}

.restaurant-address-location-icon {
  color: #c04c2a;
  margin-right: 8px;
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-card {
    padding: 16px 0px;
  }

  .restaurant-card {
    padding: 16px 0px !important;
  }

  .festival-card-date-ending,
  .festival-card-date-live,
  .festival-card-date-upcoming {
    right: 8px;
  }

  .festival-card-category,
  .festival-card-location,
  .festival-card-price,
  .festival-card-time {
    padding: 0px !important;
  }

  .festival-card-location,
  .festival-card-price {
    text-align: left;
  }
}



