/* Host page */
.host {
  color: #000;
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  text-align: center;
}

.host::before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Host coming soon */
.host-coming-soon-content {
  background-color: transparent;
  border: none;
  padding: 0px;
  width: 100%;
}

button .host-coming-soon {
  display: none;
}

button:hover .host-coming-soon {
  display: inline;
}

button:hover .host-experiences,
button:hover .host-parties {
  display: none;
}

/* Host content */
.host-content {
  height: calc(100vh - 80px);
  padding: 0px !important;
}

/* Host image */
.host-image {
  height: calc(100vh - 80px);
  object-fit: cover;
  width: 100%;
}

/* Host section */
.host-section {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  width: 100%;

  &:hover {
    color: #000;
    cursor: pointer;
  }
}

/* Host text */
.host-text {
  background-color: #fdb917;
  bottom: 0px;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  left: 0px;
  padding: 18px 24px;
  position: absolute;
  z-index: 1;
}

/* Host title */
.host-title {
  color: #000;
  margin-bottom: 48px;
}
