/* Sign up background */
.sign-up-background {
  background-color: #fff;
  position: relative;
}

/* Sign up background image */
.sign-up-background-image-one {
  background-image: url("../../assets/images/column-one-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 108vh;
  position: relative;
}

.sign-up-background-image-two {
  background-image: url("../../assets/images/column-three-image.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30vh 90vh;
  height: 108vh;
  position: relative;
}

/* Sign up content */
.sign-up-content {
  color: #000;
  padding: 96px 24px 24px;
}

.input-icon {
  margin-top: -50px;
}

.fa-eye-slash {
 position: absolute;
 top: -15px;
 right: 0;
}

.fa-eye {
  position: absolute;
  top: -15px;
  right: 0;
}

.form-control.password-input {
  position: relative;
}

/* Responsive design at max width 1199px */
@media screen and (max-width: 1199px) {
  .sign-up-background-image-two {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .sign-up {
    padding: 16px 12.5%;
  }

  .sign-up-background-image-one {
    display: none;
  }

  .sign-up-content {
    padding: 16px 12.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .sign-up {
    padding: 16px 0px;
  }

  .sign-up-content {
    padding: 16px;
  }
}

.form-row .col .form-control {
  padding-right: 30px;
}