.apply-for-business-passport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

button.apply-button {
  padding: 1em 2em;
  border: none;
  border-radius: 26px;
  background-color: #88171a;
  color: #fff;
  font-weight: 600;
  transition: all 300ms;
  &:hover {
    opacity: 0.8;
    transition: all 300ms;
  }
}
