/* Cursor pointer */
.cursor-pointer {
  cursor: pointer;
}

/* Edit profile link */
.edit-profile-link {
  color: #1c2d55;
  font-weight: 500;

  &:hover {
    color: #1c2d55;
    text-decoration: underline;
  }
}

/* Food sample owner section */
.food-sample-owner {
  color: #000;
  padding: 128px 80px 48px;
  word-break: break-word;
}

/* Food sample owner default picture */
.food-sample-owner-default-picture {
  border-radius: 50%;
  color: #88171a;
}

/* Food sample owner items */
.food-sample-owner-items {
  display: flex;
  flex-wrap: wrap;
}

/* Food sample owner profile banner */
.food-sample-owner-profile-banner {
  .food-sample-owner-profile-banner-simple {
    .banner-content {
      margin-bottom: 48px;
      padding: 0px !important;

      .banner-avatar {
        border-radius: 50%;
        height: 64px;
        margin-bottom: 24px;
        overflow: hidden;
        width: 64px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .banner-images {
      overflow-x: hidden;
      .banner-images-wrapper {
        width: 100%;

        .banner-color-block-container {
          height: 95%;
          position: absolute;
          right: 0;
          top: -40px;
          width: 40%;

          .banner-color-block {
            background: #88171a;
            height: 100%;
            position: relative;
            width: 100%;
          }
        }

        .main-banner-image {
          background: #e7e7e9 center;
          background-image: url("../../assets/images/default-restaurant-image.png");
          background-size: cover;
          height: 380px;
          margin-top: 20px;
          min-width: 346px;
          object-fit: cover;
          position: relative;
          width: 90%;
        }
      }
    }
  }
}

/* Food sample owner profile name */
.food-sample-owner-profile-name {
  font-size: 30px;
  font-weight: 600;
}

/* Food sample owner profile picture */
.food-sample-owner-profile-picture {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

/* Food sample owner profile tag line */
.food-sample-owner-profile-tag-line {
  font-size: 32px;
  font-weight: 700;
  padding-right: 16px;
}

/* Responsive design at max width 991px */
@media only screen and (max-width: 991px) {
  .food-sample-owner {
    padding: 128px 32px 48px;
  }
}

/* Responsive design at max width 767px */
@media only screen and (max-width: 767px) {
  .food-sample-owner {
    padding: 128px 16px 48px;
  }

  .food-sample-owner-profile-tag-line {
    padding-right: 0px;
  }
}
