
.modals {
    background-color: #fff;
    color: #000;
    left: 50%;
    margin: 80px 0px;
    padding: 80px 128px;
    position: absolute;
    text-align: center;
    transform: translate(-50%);
    width: 35%;
    word-break: break-word;
    z-index: 8;
  }