/* User biography */
.bio {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* User biography icon */
.bio-icon {
  float: right;
  margin-right: 13px;
  margin-top: -187px;
  position: relative;
}

/* Default profile photo */
.default-profile-photo {
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #88171a;
  height: 200px;
  padding: 44px;
  width: 200px;
}

/* Hide default file input */
input[type="file"] {
  display: none;
}

/* Remove default margin-bottom for label */
label {
  margin-bottom: 0px !important;
}

/* User profile photo */
.profile-photo {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 200px;
  margin-bottom: 16px;
  width: 200px;
}

/* Your profile */
.your-profile {
  font-size: 24px;
  font-weight: 700;
  padding: 32px 0px 16px;
}
