.top-section-user-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-review-rating {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 15px 15px 15px 15px;
  box-shadow: 3px 3px 3px 3px #888888;
}

.user-review-scores {
  width: 30px;
  height: 25px
}

.user-review-image {
  width: 500px;
  height: 300px;
}

.additional-info-review {
  margin-top: 10px;
  width: 500px;
  height: 60px;
}

.additional-information-user-review {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-review-title {
  font-size: 30px;
}

.user-review-information {
  display: flex;
  align-items: center;
  flex-direction: column;
}

 .user-review-submit-button {
   margin-top: 20px;
    display: flex;
    justify-content: flex-end;
      border: none;
      color: #fff;
      background-color: #88171a;
      border-radius: 26px;
      padding: 0.5em 1em;
      font-weight: 600;
  }