/* Resources page */
.resources {
  padding: 80px 0px 64px;
}

/* Resources card section */
.resources-card-section {
  padding: 0px 25%;
}

/* Resources post file upload */
.resources-post-file-upload {
  border: 1px solid #ccc;
  color: #ff2d55;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif !important;
  padding: 12px;
  text-align: left;
  width: 100%;
}

/* Resources post image */
.resources-post-image {
  border: 1px solid #ccc;
  height: 220px;
  width: 220px;
}

/* Resources post image content */
.resources-post-image-content {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 16px 0px;
}

/* Resources post input */
.resources-post-input {
  border: 1px solid #ccc;
  height: 100px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Resources post input icon */
.resources-post-input-icon {
  margin-top: -87px;
}

/* Resources post and title input icons */
.resources-post-input-icon,
.resources-title-input-icon {
  float: right;
  margin-right: 13px;
  position: relative;
}

/* Resources post submit button */
.resources-post-submit-btn {
  background-color: #ff2d55;
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Resources search section */
.resources-search-section {
  padding: 40px 25% 0px;
}

/* Resources title */
.resources-title {
  font-size: 32px;
  font-weight: 700;
}

/* Resources title input */
.resources-title-input {
  border: 1px solid #ccc;
  font-family: "Poppins", Arial, sans-serif !important;
  padding: 12px 44px 12px 12px;
  width: 100%;
}

/* Resources title input icon */
.resources-title-input-icon {
  margin-top: -33px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .resources-card-section {
    padding: 0px 12.5%;
  }

  .resources-search-section {
    padding: 48px 12.5% 0px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .resources-card-section {
    padding: 0px 16px;
  }

  .resources-search-section {
    padding: 48px 16px 0px;
  }
}
