/* Passport banner */
.passport-banner {
  background-color: #f6f4f7;
  font-size: 32px;
  font-weight: 700;
  padding: 120px 64px 48px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .passport-banner {
    padding: 120px 16px 48px;
  }
}
