/* Create festival page */
.create-festival {
  color: #000;
  padding: 128px 25% 48px;
  word-break: break-word;
}

/* Create festival end date and time */
.create-festival-end-date,
.create-festival-end-time {
  padding: 0px 0px 0px 8px !important;
}

/* Create festival start date and time */
.create-festival-start-date,
.create-festival-start-time {
  padding: 0px 8px 0px 0px !important;
}

/* Create festival title */
.create-festival-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .create-festival {
    padding: 128px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .create-festival {
    padding: 128px 16px 48px;
  }

  .create-festival-end-date,
  .create-festival-end-time,
  .create-festival-start-date,
  .create-festival-start-time {
    padding: 0px !important;
  }
}
