/* Experience feedback */
.experience-feedback {
  padding-top: 48px;
}

/* Experience feedback input */
.experience-feedback-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 200px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Experience feedback input icon */
.experience-feedback-input-icon {
  float: right;
  margin-right: 13px;
  margin-top: -187px;
  position: relative;
}

/* Food ad feedback quantity */
.experience-feedback-quantity {
  font-size: 18px;
  font-weight: 700;
  padding-top: 32px;
}

/* Experience feedback submit button */
.experience-feedback-submit-btn {
  background-color: #f5ae66;
  border: none;
  border-radius: 24px;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Experience feedback title */
.experience-feedback-title {
  font-size: 24px;
  font-weight: 700;
}
