/* Add buttons */
.add-food-sample-btn,
.add-menu-btn,
.add-asset-btn {
  background-color: #88171a;
  border: none;
  color: #fff;
  font-weight: 500;
  height: 50px;
  margin-bottom: 16px;
  padding: 12px 24px;
  text-align: center;
  width: 100%;
}

/* Add menu */
.add-menu {
  border: 1px solid #ccc;
  margin-bottom: 48px;
  padding: 16px;
  text-align: left;
  word-break: break-word;
}

/* Add menu details section */
.add-menu-details-section {
  padding: 0px !important;
}

/* Add menu form section */
.add-menu-form-section {
  padding-bottom: 32px;
}

/* Add menu picture */
.add-menu-picture {
  border: 1px solid #ccc;
  height: 300px;
  object-fit: cover;
  width: 300px;
}

/* Add menu picture section */
.add-menu-picture-section {
  padding: 0px 16px 0px 0px !important;
}

/* Apply to host */
.apply-to-host,
.product-items-form {
  color: #000;
  padding: 128px 25% 112px;
  word-break: break-word;
}

/* Apply to host navigation */
.apply-to-host-navigation {
  background-color: #fff;
  bottom: 0px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  left: 0px;
  padding: 16px 25%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Apply to host personal review */
.apply-to-host-personal-review {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Apply to host step name */
.apply-to-host-step-name {
  color: #000;
  font-size: 32px;
  margin-bottom: 48px;
}

/* Apply to host submit form */
.apply-to-host-submit-btn {
  background-color: #88171a;
  color: #fff;
  padding: 12px 16px;
}

/* Apply to host, back, and continue buttons */
.apply-to-host-submit-btn,
.back-btn,
.continue-btn {
  border: none;
  text-align: center;
  width: 116px;

  &:hover {
    cursor: pointer;
  }
}

/* Apply to host title */
.apply-to-host-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

/* Asset start and end times */
.asset-start-time {
  padding: 0px 16px 0px 0px !important;
}

.asset-end-time {
  padding: 0px 0px 0px 16px !important;
}

/* Back button */
.back-btn {
  background-color: #fff;
  border: 4px solid #000;
  color: #000;
  padding: 8px 12px;
}

/* Continue button */
.continue-btn {
  background-color: #000;
  color: #fff;
  padding: 12px 16px;
}

/* Food Handler Certificate Date of Issue and Expiry Date */
.date-of-issue,
.expiry-date {
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: "Poppins", Arial, sans-serif !important;
  padding: 12px;
  width: 100%;
}

/* Food Handler Certificate Date of Issue section */
.date-of-issue-section {
  padding: 0px 8px 0px 0px !important;
  z-index: 2;
}

/* Delete menu */
.delete-menu {
  float: right;
  margin-top: -16px;
  position: relative;

  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

/* Edit menu input */
.edit-menu-input {
  border: none;
  width: 100%;
}

/* Edit menu input description */
.edit-menu-input-description {
  border: none;
  height: 100px;
  margin-bottom: 8px;
  padding: 0px;
  resize: none;
  width: 100%;
}

/* Edit menu input name */
.edit-menu-input-name {
  font-weight: 700;
  text-decoration: underline;
}

/* Food Handler Certificate Expiry Date section */
.expiry-date-section {
  padding: 0px 0px 0px 8px !important;
  z-index: 2;
}

/* Get started button */
.get-started-btn {
  background-color: #88171a;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding: 18px 24px;

  &:hover {
    cursor: pointer;
  }
}

/* Host selection description */
.host-selection-description {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

.col-6 {
  max-width: 100%;
  padding: 0px;
}

.mb-2 {
  padding: 2%;
}

.mb-3 {
  width: 100% !important;
}

.mb-20 {
  margin-left: 0px;
}

.mb-20 {
  margin-left: 1%;
  margin-bottom: 5%;
}

/* Menu items form step title */
.product-items-form-step-title {
  font-size: 32px;
  font-weight: 700;
}

/* Void cheque image */
.void-cheque-image {
  border: 1px solid #ccc;
  height: auto;
  margin-top: 16px;
  width: 100%;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .apply-to-host,
  .product-items-form {
    padding: 128px 12.5% 112px;
  }

  .apply-to-host-navigation {
    padding: 16px 12.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .apply-to-host,
  .product-items-form {
    padding: 128px 16px 112px;
  }

  .apply-to-host-navigation {
    padding: 16px;
  }

  .asset-start-time,
  .asset-end-time {
    padding: 0px !important;
  }

  .date-of-issue {
    margin-bottom: 16px;
  }

  .date-of-issue-section,
  .expiry-date-section {
    padding: 0px !important;
    z-index: 2;
  }

  .menu-items-form {
    padding: 120px 16px;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .add-menu-picture-section {
    padding: 0px !important;
  }
}
