.tab-row.business-tabs {
  justify-content: flex-start;
}

.create-your-passport__layout.business-tab-content {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}


.nav-business-btn {
  background-color: #88171a;
  font-size: x-large;
  border-radius: 26px;
  color: #fff;
  font-weight: 600;
  margin: 0px 12px;
  padding: 0.5em 1.5em;
  transition: all 450ms;
}
