/* Festival details page */

.tab-switcher {
  margin: 3em 0 1.5em 0;
}

.row.search-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1.5em !important;
  input {
    padding: 0.5em 1em;
    border-radius: 26px;
    outline: none;
    &:focus {
      border: #88171a 2px solid;
      outline: none;
      box-shadow: 0 0 3px #88171a;
    }
  }
}

.filters-container {
  padding: 1em;
  select,
  input {
    padding: 0.5em 1em;
    border-radius: 26px;
    margin-bottom: 1em !important;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 0 3px #88171a;
    }
  }
}

.festival-details-container {
  padding: 1em 0 2em 0 !important;
}

.festival-details-filters {
  select {
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 26px;
  }

  input {
    padding: 0.5em 2em;
    margin: 0.2em;
    border: #000 solid 1px;
    border-radius: 26px;
    &:focus {
      outline: none;
    }
  }
}

.festival-details-button-container {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.festival-details-primary-button {
  width: 60%;
  background-color: #88171a;
  color: #fff;
  padding: 1em;
  border-radius: 40px;
  border: none;
  transition: all 450ms;
  &:hover {
    opacity: 0.8;
    transition: all 450ms;
  }
}

.festival-details-primary-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.festival-details {
  color: #000;
  min-height: 0 !important;
  padding: 5em 0 0 0 !important;
  width: 100%;
  word-break: break-word;
}

.festival-details-cards-filters-container {
  padding: 1em 0 3em 0 !important;
}

/* Festival details buttons */
.festival-details-one-button {
  width: 100%;
  background-color: maroon;
  color: white;
}

/* Festival details buttons section */
.festival-details-buttons-section {
  position: absolute;
  right: 0px;
  width: 25%;
  bottom: 7px;
  display: flex;
  justify-content: space-evenly;
}

/* Festival details buy button */
.festival-details-buy-btn {
  background-color: #88171a;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: 500;
  height: 50px;
  padding: 12px 24px;
  width: 100%;
}

/* Festival details icon */
.festival-details-icon {
  height: 32px;
  margin-right: 8px;
}

/* Festival details images */
.festival-details-images {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

/* Festival details images section */
.festival-details-images-section {
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 0px !important;
  width: 100%;
}

/* Festival details information filters */
.festival-details-information-filters {
  border-bottom: 1px solid #ccc;
  margin: 0px 16px 48px;
}

/* Festival details on attendants, hosts and sponsors */
.festival-details-people-info {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 8px !important;
}

/* Festival details sub-title */
.festival-details-sub-title {
  font-weight: 700;
}

/* Festival details text section */
.festival-details-text-section {
  background-color: rgba(249, 133, 55, 0.1);
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 0px !important;
}

/* Festival details title */
.festival-details-title {
  color: #88171a;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.festival-details-title-content {
  padding: 0px;
}

/* Festival details type */
.festival-details-type {
  background-color: #88171a;
  border-radius: 8px;
  color: #fff;
  padding: 12px;
  position: absolute;
  right: 24px;
  top: 24px;
}

/* Festival filters */
.festival-dropdown {
  width: 35%;
}

.festival-filters {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin-right: 10%;
  margin-left: 10%;
  border-bottom: none;
}

.festival-filters-section {
  padding-top: 3%;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
}

.festival-filters-select {
  margin-left: 1.5em;
  width: 100%;
}

.festival-filters-title {
  display: flex;
  justify-content: center;
}

.products-filter {
  display: flex;
  width: 100%;
  padding: 16px 16px 8px 16px;
}

.restaurant-cards-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.festival-card-type {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: flex-start;
  font-size: xx-large;
  font-weight: bold;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festival-details {
    padding: 128px 16px 48px;
  }

  .festival-details-information-filters {
    margin: 0px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-details {
    padding: 128px 16px 48px;
  }

  .festival-details-information-filters {
    margin: 0px 0px 48px;
  } 
}

.col-lg-6{
  flex: 0, 0, 83.333333;
  max-width: 83.333333;
}


.product-container {
  width:83.333333%;
  display:flex;
  flex-wrap: wrap;
}

.product, .business {
  flex: 0, 0, 50%;
  width: 50%;
}

.business-cards-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.host-detail-btn {
  color: #88171A;
}

@media (max-width: 991px) {
  .product, .business {
    flex: 0, 0, 100%;
    width: 100%;
  }
  
}