/* Experiences */
.experiences {
  color: #000;
  padding: 128px 64px 48px;
}

/* Experiences title */
.experiences-title {
  font-size: 32px;
  font-weight: 700;
}

/* Experiences title and search bar content */
.experiences-title-content,
.search-bar-content {
  padding: 0px 16px 16px !important;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .experiences {
    padding: 128px 16px 48px;
  }

  .experiences-title {
    text-align: center;
  }

  .search-bar-content {
    padding: 0px 16px !important;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .experiences-title-content,
  .search-bar-content {
    padding: 0px 0px 16px !important;
  }
}
