.create-your-passport-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page__button-primary-black-solid.create-your-passport__call-to-action {
  width: 50%;
  font-size: 1.2em;
}
